.fade-enter-active[data-v-5658a12f] {
    transition: opacity .25s cubic-bezier(0,.8,.6,1)
}

.fade-leave-active[data-v-5658a12f] {
    transition: opacity .1s cubic-bezier(.4,.7,1,.7)
}

.fade-enter-from[data-v-5658a12f],.fade-leave-to[data-v-5658a12f] {
    opacity: 0
}

.grow-enter-from[data-v-074cc4a5] {
    opacity: 0;
    transform: scale(1.1)
}

.grow-enter-to[data-v-074cc4a5] {
    opacity: 1;
    transform: scale(1)
}

.grow-leave-to[data-v-074cc4a5] {
    opacity: 0;
    transform: scale(95%)
}

.grow-enter-active[data-v-074cc4a5] {
    transition: .25s cubic-bezier(0,.8,.6,1)
}

.grow-leave-active[data-v-074cc4a5] {
    transition: .1s cubic-bezier(.4,.7,1,.7)
}

.md-modal[data-v-b006d666] {
    display: flex;
    max-height: 100%;
    z-index: 9999;
}

.md-modal[data-v-b006d666],.md-modal__shade[data-v-b006d666] {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.md-modal__shade[data-v-b006d666] {
    background: rgba(0,0,0,.4);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter:none)) {
    .md-modal__shade[data-v-b006d666] {
        -webkit-backdrop-filter:blur(3px);
        backdrop-filter: blur(3px)
    }

    .md-modal__shade.no-blur[data-v-b006d666] {
        -webkit-backdrop-filter: none;
        backdrop-filter: none
    }
}

.md-modal__shade.no-darken[data-v-b006d666] {
    background: transparent
}

.md-modal__box[data-v-b006d666] {
    max-width: 100%;
    min-height: 0;
    overflow: auto;
    overscroll-behavior: contain
}

@media (max-width: 39.9375rem) {
    .md-modal__box[data-v-b006d666] {
        background-color:var(--md-background);
        border-radius: 0;
        height: 100%;
        margin: 0;
        width: 100%
    }
}

@media (min-width: 40rem) {
    .md-modal__box[data-v-b006d666] {
        margin:16px;
        max-height: calc(100% - 3rem)
    }
}

.md-modal__box[data-v-b006d666] {
    bottom: 0;
    top: 0;
    z-index: 10
}

.md-md-container.dense h1,.md-md-container.dense h2,.md-md-container.dense h3,.md-md-container.dense h4,.md-md-container.dense h5,.md-md-container.dense h6 {
    font-size: 1em
}

.md-md-container.dense {
    font-size: .875rem;
    line-height: 1.25rem
}

.md-md-container.noEmptyLines p {
    margin-bottom: 0;
    margin-top: 0
}

.md-md-container>:first-child {
    margin-top: 0
}

.md-md-container>:last-child {
    margin-bottom: 0
}

.md-md-container pre {
    word-wrap: break-word;
    background-color: var(--md-accent-10);
    border-radius: .25rem;
    box-shadow: inset 0 0 10px #0000001a;
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0 0 10px;
    padding: 9px;
    padding: 1rem;
    word-break: break-all
}

.md-md-container pre>code {
    border-radius: revert;
    font-size: revert;
    padding: revert
}

.md-md-container code {
    background-color: var(--md-accent-10);
    border-radius: .125rem;
    font-size: 90%;
    padding: 2px 4px
}

.md-md-container img {
    max-width: 35%
}

.md-md-container hr {
    color: inherit;
    margin-bottom: 1rem;
    margin-top: 1rem;
    opacity: .1
}

.md-md-container a {
    color: var(--md-primary)
}

.md-md-container,.md-md-container * {
    all: revert
}

.md-md-container .spoiler {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-md-container .spoiler:before {
    background-color: var(--md-accent-50);
    border-radius: .25rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.md-md-container .spoiler:hover:before {
    opacity: .2;
    z-index: -1
}

.md-md-container .spoiler:hover {
    -webkit-user-select: revert;
    -moz-user-select: revert;
    user-select: revert
}

.md-md-container table {
    border: 2px solid;
    border-collapse: collapse;
    border-color: var(--md-accent-10);
    border-radius: .25rem;
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    word-break: normal
}

.md-md-container td,.md-md-container th {
    padding: .25rem .5rem;
    text-align: center
}

.md-md-container thead {
    border-bottom: 2px solid;
    border-color: var(--md-accent-10)
}

.md-md-container tr {
    border-bottom: 1px solid;
    border-color: var(--md-accent-10)
}

.md-md-container tr:nth-child(2n) {
    background-color: var(--md-accent)
}

.md-snackbar__container[data-v-a913e8d5] {
    bottom: 0;
    bottom: var(--bottom-nav-area,0);
    display: flex;
    justify-content: center;
    left: 0;
    margin: 1rem;
    position: fixed;
    right: 0
}

.md-snackbar[data-v-a913e8d5] {
    align-items: center;
    border-radius: .25rem;
    display: flex;
    flex-grow: 1;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .5rem 1rem
}

.md-snackbar__label[data-v-a913e8d5] {
    --tw-border-opacity: 1;
    border-color: #fff;
    border-color: rgb(255 255 255/var(--tw-border-opacity));
    border-radius: .25rem;
    border-width: 1px;
    flex-shrink: 0;
    font-weight: 700;
    margin-left: auto;
    margin-right: .625rem;
    padding: .5rem 1rem
}

.profile[data-v-3e9ece9d] {
    border: 2px solid;
    border-color: var(--md-background);
    border-radius: 50%
}

.context-menu[data-v-6ee47ed6] {
    animation: show-6ee47ed6 .15s ease forwards
}

@keyframes show-6ee47ed6 {
    0% {
        opacity: 0;
        transform: translateY(-1rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.link[data-v-6ee47ed6] {
    color: unset;
    text-decoration: none
}

.list-item[data-v-6ee47ed6] {
    display: flex;
    white-space: nowrap
}

.compact .list-item[data-v-6ee47ed6] {
    justify-content: flex-start;
    min-height: 2.5rem
}

.md-context-menu[data-v-f238ff04] {
    position: relative;
    z-index: 4
}

.md-context-menu__menu[data-v-f238ff04] {
    display: flex
}

.md-context-menu__menu[data-v-f238ff04],.md-context-menu__outside[data-v-f238ff04] {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.md-context-menu__content[data-v-f238ff04] {
    min-width: 100%;
    position: absolute;
    top: 110%;
    z-index: 10
}

.md-author__link {
    align-items: center;
    background-color: var(--md-accent);
    border-radius: .25rem;
    display: flex;
    padding: .5rem 1rem;
    transition: background-color .1s ease-in-out
}

.md-author__link:not(.text):hover {
    background-color: var(--md-accent-hover)
}

.md-author__link:not(.text):active {
    background-color: var(--md-accent-active)
}

.md-inputwrap[data-v-0ef08adf] {
    background-color: var(--md-accent);
    border-radius: .125rem;
    box-sizing: border-box;
    color: inherit;
    position: relative;
    transition: all .2s ease-out;
    width: 100%
}

.md-inputwrap.md-blur[data-v-0ef08adf] {
    background-color: transparent
}

.md-inputwrap.md-blur[data-v-0ef08adf]:before {
    background-color: var(--md-background-translucent-10);
    border-radius: inherit;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter:none)) {
    .md-inputwrap.md-blur[data-v-0ef08adf]:before {
        -webkit-backdrop-filter:blur(10px);
        backdrop-filter: blur(10px)
    }
}

.md-inputwrap .md-border[data-v-0ef08adf] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-inputwrap:focus-within .md-border[data-v-0ef08adf] {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-inputwrap:focus-within .md-clear-icon[data-v-0ef08adf] {
    display: none
}

.md-inputwrap:focus-within .md-go-icon[data-v-0ef08adf] {
    display: flex
}

.md-inputwrap .md-go-icon[data-v-0ef08adf] {
    display: none
}

.md-inputwrap input[data-v-0ef08adf] {
    background: none;
    border-radius: inherit;
    min-height: 40px;
    padding: .45rem 3rem;
    position: relative;
    width: 100%;
    z-index: 1
}

.md-inputwrap input[data-v-0ef08adf]:focus {
    outline: none
}

.md-disabled input[data-v-0ef08adf] {
    color: inherit;
    opacity: .2
}

.md-search-icon[data-v-0ef08adf] {
    align-items: center;
    border-radius: .25rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    left: .25rem;
    position: absolute;
    top: .25rem;
    width: 2rem;
    z-index: 1
}

.md-clear-icon[data-v-0ef08adf],.md-go-icon[data-v-0ef08adf] {
    --tw-text-opacity: 1;
    background-color: var(--md-primary);
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    cursor: pointer;
    left: auto;
    right: .25rem
}

.md-clear-icon[data-v-0ef08adf]:hover,.md-go-icon[data-v-0ef08adf]:hover {
    background-color: var(--md-primary-10)
}

.md-clear-icon[data-v-0ef08adf]:active,.md-go-icon[data-v-0ef08adf]:active {
    background-color: var(--md-primary-20)
}

input[data-v-0ef08adf]:-webkit-autofill,input[data-v-0ef08adf]:-webkit-autofill:active,input[data-v-0ef08adf]:-webkit-autofill:focus,input[data-v-0ef08adf]:-webkit-autofill:hover {
    -webkit-text-fill-color: #000!important;
    color: #000!important
}

.md-badge[data-v-fc38be6b] {
    position: relative
}

.md-badge-wrap[data-v-fc38be6b] {
    bottom: calc(100% + .125rem);
    left: calc(100% + .125rem);
    position: absolute;
    transform: translate(-50%,50%)
}

.chip[data-v-d63a84ed] {
    background-color: var(--md-accent);
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    transition: background .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    word-break: keep-all
}

.include[data-v-d63a84ed] {
    --tw-text-opacity: 1;
    background-color: var(--md-primary);
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.exclude[data-v-d63a84ed] {
    border-color: var(--md-primary)
}

.slide-y-enter-from[data-v-f6d6db08] {
    height: 0
}

.slide-y-enter-to[data-v-f6d6db08] {
    height: 100%
}

.slide-y-leave-to[data-v-f6d6db08] {
    height: 0
}

.slide-y-enter-active[data-v-f6d6db08] {
    transition: .25s cubic-bezier(0,.8,.6,1)
}

.slide-y-leave-active[data-v-f6d6db08] {
    transition: .1s cubic-bezier(.4,.7,1,.7)
}

.md-inputwrap[data-v-b4fd926c] {
    background-color: var(--md-accent);
    border-radius: 2px;
    box-sizing: border-box;
    color: inherit;
    position: relative
}

.md-inputwrap[data-v-b4fd926c],.md-inputwrap .md-label[data-v-b4fd926c] {
    transition: all .2s ease-out;
    width: 100%
}

.md-inputwrap .md-label[data-v-b4fd926c] {
    height: 100%;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 0
}

.md-inputwrap .md-label>span[data-v-b4fd926c] {
    color: var(--md-primary)
}

.md-inputwrap .md-border[data-v-b4fd926c] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-inputwrap:focus-within .md-border[data-v-b4fd926c] {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-inputwrap:not(.md-nolabel).md-populated input[data-v-b4fd926c],.md-inputwrap:not(.md-nolabel):focus-within input[data-v-b4fd926c] {
    padding-bottom: 5px;
    padding-top: 27px
}

.md-inputwrap:not(.md-nolabel).md-populated .md-label[data-v-b4fd926c],.md-inputwrap:not(.md-nolabel):focus-within .md-label[data-v-b4fd926c] {
    font-size: .75em;
    padding-top: 6px
}

.md-inputwrap input[data-v-b4fd926c] {
    background: none;
    position: relative;
    width: 100%;
    z-index: 1
}

.md-inputwrap input[data-v-b4fd926c]::-moz-placeholder {
    opacity: .6
}

.md-inputwrap input[data-v-b4fd926c]::placeholder {
    opacity: .6
}

.md-inputwrap input[data-v-b4fd926c]:focus {
    outline: none
}

.md-disabled input[data-v-b4fd926c] {
    color: inherit;
    opacity: .2
}

.md-disabled .md-inputwrap:not(.md-populated) .md-label[data-v-b4fd926c] {
    opacity: .2
}

.md-error[data-v-b4fd926c] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-b4fd926c] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-b4fd926c] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-b4fd926c],.md-has-error .md-label[data-v-b4fd926c] {
    color: var(--md-danger)
}

.md-has-error i[data-v-b4fd926c] {
    color: inherit!important
}

.md-has-error .md-border[data-v-b4fd926c] {
    border: 2px solid #ff4040!important;
    opacity: 1
}

input[data-v-b4fd926c]:-webkit-autofill,input[data-v-b4fd926c]:-webkit-autofill:active,input[data-v-b4fd926c]:-webkit-autofill:focus,input[data-v-b4fd926c]:-webkit-autofill:hover {
    -webkit-text-fill-color: #000!important;
    color: #000!important
}

.author-tag[data-v-7e06e0b2] {
    align-items: center;
    background-color: var(--md-accent);
    border-radius: .25rem;
    display: flex;
    font-size: .75rem;
    gap: .125rem;
    line-height: 1rem;
    padding: .125rem .25rem;
    white-space: nowrap
}

@media (min-width: 40rem) {
    .author-tag[data-v-7e06e0b2] {
        font-size:.875rem;
        line-height: 1.25rem
    }
}

@media (min-width: 64rem) {
    .author-tag[data-v-7e06e0b2] {
        font-size:1rem;
        line-height: 1.5rem
    }
}

.author-tag.hover-effects[data-v-7e06e0b2]:hover {
    background-color: var(--md-accent-hover)
}

.author-dropdown[data-v-7e06e0b2] {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    background-color: var(--md-accent);
    border-radius: .25rem;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 3px #0000001a,0 1px 2px -1px #0000001a;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .25rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 4
}

.author-dropdown>.author-tag[data-v-7e06e0b2] {
    display: inline-flex;
    margin: 0
}

.header[data-v-7e06e0b2] {
    font-weight: 500;
    margin-top: 20px
}

.header[data-v-7e06e0b2],.header-subtext[data-v-7e06e0b2] {
    font-size: 16px;
    margin-bottom: 16px
}

.header-subtext[data-v-7e06e0b2] {
    font-weight: 400;
    margin-top: -4px
}

.header.required[data-v-7e06e0b2] {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 24px
}

.header.required[data-v-7e06e0b2]:after {
    color: var(--md-status-red);
    content: "*"
}

.disabled[data-v-7e06e0b2] {
    opacity: .4;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.transition-label.with-placeholder[data-v-6e50d9d9] {
    opacity: 0;
    transition-property: opacity,top,font-size
}

.transition-label.populated[data-v-6e50d9d9] {
    font-size: .75rem;
    line-height: 1rem;
    opacity: 1;
    top: .3125rem
}

.placeholder-text.with-label[data-v-6e50d9d9] {
    margin-top: -.5rem;
    opacity: 1
}

.placeholder-text[data-v-6e50d9d9]:not(.populated) {
    transition-duration: .15s;
    transition-property: margin-top,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.placeholder-text.populated[data-v-6e50d9d9] {
    margin-top: 0
}

.chevron[data-v-6e50d9d9] {
    transition: transform .15s ease-in-out
}

.chevron.active[data-v-6e50d9d9] {
    transform: rotate(180deg)
}

.md-select-inner-wrap[data-v-6e50d9d9] {
    background-color: var(--md-accent);
    display: inline-flex;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative
}

.md-select-inner-wrap.block[data-v-6e50d9d9] {
    display: flex;
    min-width: 100%
}

.md-select[data-v-6e50d9d9] {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-select:focus-within .md-select__border[data-v-6e50d9d9]:not(.disabled) {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-select:focus-within .transition-label.with-placeholder.dropdown-open[data-v-6e50d9d9] {
    opacity: 1
}

.md-select:focus-within .placeholder-text.with-label.dropdown-open[data-v-6e50d9d9]:not(.populated) {
    margin-top: 0;
    opacity: .4
}

.md-select__border[data-v-6e50d9d9] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-select__error[data-v-6e50d9d9] {
    font-size: .75em;
    z-index: -1
}

.md-select__error.has-error[data-v-6e50d9d9] {
    border-radius: 4px
}

.md-select__error.has-error .md-select__error[data-v-6e50d9d9] {
    color: var(--md-status-red)
}

.md-select__error.has-error i[data-v-6e50d9d9] {
    color: inherit!important
}

.md-select__error.has-error .md-select__border[data-v-6e50d9d9] {
    border: 2px solid var(--md-status-red)!important;
    opacity: 1
}

.md-error[data-v-6e50d9d9] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-6e50d9d9] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-6e50d9d9] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-6e50d9d9] {
    color: var(--md-danger)
}

.md-has-error i[data-v-6e50d9d9] {
    color: inherit!important
}

.md-has-error>.md-select-inner-wrap>.md-select__border[data-v-6e50d9d9] {
    border: 2px solid #ff4040!important;
    opacity: 1
}

.select-button[data-v-6e50d9d9] {
    align-items: center;
    background-color: var(--md-accent-10);
    border-radius: 9999px;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    margin: .25rem;
    padding: .25rem .5rem;
    white-space: nowrap
}

.select-button[data-v-6e50d9d9]:not(.static):hover {
    background-color: var(--md-accent-10-hover)
}

.md-checkbox[data-v-03049431] {
    align-items: center;
    display: flex;
    position: relative
}

.md-checkbox__wrap[data-v-03049431] {
    align-items: center;
    display: inline-flex
}

.disabled[data-v-9503a657] {
    opacity: .5;
    pointer-events: none
}

.md-switch-wrapper[data-v-9503a657] {
    align-items: center;
    display: flex
}

.md-switch[data-v-9503a657] {
    height: 20px;
    min-height: 20px;
    min-width: 40px;
    width: 40px
}

.md-switch.small[data-v-9503a657] {
    height: 16px;
    min-height: 16px;
    min-width: 32px;
    width: 32px
}

.md-switch.large[data-v-9503a657] {
    height: 24px;
    min-height: 24px;
    min-width: 48px;
    width: 48px
}

.md-switch[data-v-9503a657] {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative
}

.md-switch[data-v-9503a657]:before {
    background-color: var(--md-accent);
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.md-switch[data-v-9503a657]:after,.md-switch[data-v-9503a657]:before {
    border-radius: 9999px;
    content: " ";
    transition: all .1s ease-out
}

.md-switch[data-v-9503a657]:after {
    background-color: var(--md-accent-20);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%
}

.md-switch.toggled[data-v-9503a657]:after {
    left: 50%
}

.md-switch.constant[data-v-9503a657]:after,.md-switch.constant[data-v-9503a657]:before,.md-switch.toggled[data-v-9503a657]:after,.md-switch.toggled[data-v-9503a657]:before {
    background-color: var(--md-primary)
}

.transition-label.with-placeholder[data-v-b649bad7] {
    opacity: 0;
    transition-property: opacity,top,font-size
}

.transition-label.populated[data-v-b649bad7] {
    font-size: .75rem;
    line-height: 1rem;
    opacity: 1;
    top: .3125rem
}

.placeholder-text.with-label[data-v-b649bad7] {
    margin-top: -.5rem;
    opacity: 1
}

.placeholder-text[data-v-b649bad7]:not(.populated) {
    transition-duration: .15s;
    transition-property: margin-top,opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.placeholder-text.populated[data-v-b649bad7] {
    margin-top: 0
}

.chevron[data-v-b649bad7] {
    transition: transform .15s ease-in-out
}

.chevron.active[data-v-b649bad7] {
    transform: rotate(180deg)
}

.md-select-inner-wrap[data-v-b649bad7] {
    background-color: var(--md-accent);
    display: inline-flex;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative
}

.md-select-inner-wrap.block[data-v-b649bad7] {
    display: flex;
    min-width: 100%
}

.md-select[data-v-b649bad7] {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-select:focus-within .md-select__border[data-v-b649bad7]:not(.disabled) {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-select:focus-within .transition-label.with-placeholder.dropdown-open[data-v-b649bad7] {
    opacity: 1
}

.md-select:focus-within .placeholder-text.with-label.dropdown-open[data-v-b649bad7]:not(.populated) {
    margin-top: 0;
    opacity: .4
}

.md-select__border[data-v-b649bad7] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-select__error[data-v-b649bad7] {
    font-size: .75em;
    z-index: -1
}

.md-select__error.has-error[data-v-b649bad7] {
    border-radius: 4px
}

.md-select__error.has-error .md-select__error[data-v-b649bad7] {
    color: var(--md-status-red)
}

.md-select__error.has-error i[data-v-b649bad7] {
    color: inherit!important
}

.md-select__error.has-error .md-select__border[data-v-b649bad7] {
    border: 2px solid var(--md-status-red)!important;
    opacity: 1
}

.md-error[data-v-b649bad7] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-b649bad7] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-b649bad7] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-b649bad7] {
    color: var(--md-danger)
}

.md-has-error i[data-v-b649bad7] {
    color: inherit!important
}

.md-has-error>.md-select-inner-wrap>.md-select__border[data-v-b649bad7] {
    border: 2px solid var(--md-primary)!important;
    opacity: 1
}

.select-button[data-v-b649bad7] {
    align-items: center;
    background-color: var(--md-accent-10);
    border-radius: 9999px;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    margin: .25rem;
    padding: .25rem .5rem;
    white-space: nowrap
}

.select-button[data-v-b649bad7]:not(.static):hover {
    background-color: var(--md-accent-10-hover)
}

.controls[data-v-671dc0eb] {
    background-color: var(--md-accent);
    border-radius: .125rem;
    display: inline-flex;
    position: relative
}

.controls[data-v-671dc0eb]:after {
    background-color: var(--md-contrast-1);
    border-radius: inherit;
    content: "";
    display: block;
    left: var(--left);
    position: absolute;
    top: 0;
    transition: left .15s ease-out
}

.controls[data-v-671dc0eb]:after,.item[data-v-671dc0eb] {
    height: 44px;
    width: 44px
}

.item[data-v-671dc0eb]:first-child {
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit
}

.item[data-v-671dc0eb]:last-child {
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit
}

.active svg[data-v-671dc0eb] {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.item[data-v-671dc0eb] {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: background-color .1s ease-in;
    z-index: 1
}

.item[data-v-671dc0eb]:not(.active):hover {
    background-color: var(--md-accent-10)
}

.controls>svg[data-v-671dc0eb] {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .625rem
}

.placeholder[data-v-691f93e5] {
    overflow: hidden;
    position: relative
}

.shimmer[data-v-691f93e5] {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer-691f93e5;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    background: linear-gradient(to right,var(--md-background-transparent) 0,var(--md-background) 50%,var(--md-background-transparent) 100%);
    background-blend-mode: lighten;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@keyframes shimmer-691f93e5 {
    0% {
        left: -100%
    }

    to {
        left: 100%
    }
}

.md-overlay[data-v-22defc54] {
    position: fixed
}

.md-overlay[data-v-22defc54],.md-overlay[data-v-22defc54]:before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.md-overlay[data-v-22defc54]:before {
    background-color: var(--md-accent-10);
    content: "";
    display: block;
    opacity: var(--38d78750);
    position: absolute;
    z-index: -1
}

.image-placeholder[data-v-1d09ebcc] {
    height: calc(100vh - 4rem);
    width: calc(70.71vh - 2.8284rem)
}

@media (max-aspect-ratio: 169/239) {
    .image-placeholder[data-v-1d09ebcc] {
        height:calc(141.4vw - 5.656rem);
        width: calc(100vw - 4rem)
    }
}

.arrow-overlay[data-v-1d09ebcc] {
    position: fixed;
    z-index: 1000
}

.arrow[data-v-1d09ebcc] {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    font-size: 4rem;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 50%
}

.arrow.left[data-v-1d09ebcc] {
    background: radial-gradient(farthest-side at left,#00000080,#00000000);
    left: 0
}

.arrow.right[data-v-1d09ebcc] {
    background: radial-gradient(farthest-side at right,#00000080,#00000000);
    flex-direction: row-reverse;
    right: 0
}

.arrow>*[data-v-1d09ebcc] {
    filter: drop-shadow(0 0 2px #000)
}

.arrow[data-v-1d09ebcc] {
    opacity: 0;
    transition: opacity .2s ease-out
}

.arrow[data-v-1d09ebcc]:hover {
    opacity: 1
}

img[data-v-5cb5638f] {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.aspect[data-v-5cb5638f] {
    height: 0;
    overflow: hidden;
    padding-bottom: 142.307692%;
    position: relative
}

.aspect img[data-v-5cb5638f] {
    height: 100%;
    top: 0
}

.aspect img[data-v-5cb5638f],.subtitle[data-v-5cb5638f] {
    left: 0;
    position: absolute;
    width: 100%
}

.subtitle[data-v-5cb5638f] {
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
    bottom: 0;
    color: #fff;
    padding: 1rem .5rem .5rem
}

.subtitle.show-flag[data-v-5cb5638f] {
    padding-right: calc(1rem + 25px)
}

.tag[data-v-05a511f9] {
    align-items: center;
    border-radius: .25rem;
    display: inline-flex;
    font-size: .75rem;
    min-height: 1.75rem;
    padding: .3125rem .5rem;
    transition: all .1s ease-out
}

.tag.small[data-v-05a511f9] {
    font-size: .75rem;
    line-height: 1rem;
    min-height: 1.25rem;
    padding: .15625rem .25rem
}

.tag.content[data-v-05a511f9] {
    font-size: .625rem;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    min-height: 0;
    padding: 0 .375rem;
    text-transform: uppercase;
    vertical-align: center
}

.tag[data-v-05a511f9]:not(.no-wrapper) {
    background-color: var(--md-accent)
}

.tag.no-wrapper[data-v-05a511f9] {
    border-radius: 0;
    margin-bottom: -.3125rem;
    margin-top: -.3125rem;
    padding: 0
}

.tag.lift[data-v-05a511f9] {
    background-color: var(--md-accent-10)
}

a.tag[data-v-05a511f9]:hover {
    --tw-text-opacity: 1;
    background-color: var(--md-primary);
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.tag svg[data-v-05a511f9]:not(:last-child) {
    margin-right: .5rem
}

.tag.dot[data-v-05a511f9]:not(.no-wrapper) {
    padding-left: .25rem
}

.tag.dot svg[data-v-05a511f9] {
    margin: -.3125rem -.125rem -.3125rem -.25rem
}

.tag.dot.content svg[data-v-05a511f9],.tag.dot.small svg[data-v-05a511f9] {
    margin: -.5rem -.25rem -.5rem -.5rem
}

.tag[data-v-ee6631e6] {
    border-radius: .25rem;
    display: inline-block;
    font-size: .625rem;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0 .375rem;
    text-transform: uppercase
}

.tag.large[data-v-ee6631e6] {
    font-size: .85rem;
    padding: .2125rem .51rem
}

.tags-row.overflow-y-hidden[data-v-6b365b29] {
    cursor: pointer;
    padding-right: 2.5rem;
    position: relative
}

.tags-row.overflow-y-hidden[data-v-6b365b29]:after {
    bottom: 0;
    color: var(--md-primary);
    content: "MORE";
    display: block;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    position: absolute;
    right: .125rem
}

.comment-container[data-v-a7c5fe37] {
    align-items: center;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    gap: .25rem;
    white-space: nowrap
}

.comment-container.hover[data-v-a7c5fe37] {
    margin-bottom: -.125rem;
    margin-left: -.25rem;
    margin-top: -.125rem;
    padding: .125rem .25rem;
    transition: background-color 75ms ease-in-out
}

.comment-container.hover[data-v-a7c5fe37]:hover {
    background-color: var(--md-accent-20-hover)
}

.stat[data-v-9b2b4ae4] {
    align-items: center;
    display: flex;
    flex-grow: 1;
    font-size: .875rem;
    gap: .25rem;
    line-height: 1.25rem
}

.stats[data-v-9b2b4ae4] {
    align-items: center;
    display: grid;
    gap: .25rem;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr
}

.author[data-v-9b2b4ae4] {
    display: none;
    grid-area: author;
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.author[data-v-9b2b4ae4]>:not(:last-child):after {
    content: ", "
}

.tags[data-v-9b2b4ae4] {
    grid-area: tags
}

.manga-card[data-v-9b2b4ae4] {
    background-color: var(--md-accent);
    display: grid;
    flex-grow: 1;
    gap: .25rem .5rem;
    grid-template-areas: "art title title" "art stats status" "art tags tags" "art description description";
    grid-template-columns: min(25%,150px) 1fr auto;
    grid-template-rows: auto auto auto 1fr;
    padding: .5rem;
    position: relative;
    width: 100%
}

.manga-card[data-v-9b2b4ae4],.manga-card-cover[data-v-9b2b4ae4] {
    border-radius: .25rem;
    overflow: hidden
}

.manga-card-cover[data-v-9b2b4ae4] {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    align-self: flex-start;
    box-shadow: 0 0 #0000,0 0 #0000,0 1px 3px #0000001a,0 1px 2px -1px #0000001a;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    max-height: 100%
}

.description[data-v-9b2b4ae4] {
    height: 8.4em;
    overflow: hidden;
    position: relative
}

.description[data-v-9b2b4ae4]:after {
    background: linear-gradient(var(--md-background-transparent),var(--md-accent));
    bottom: 0;
    content: "";
    display: block;
    height: .9em;
    left: 0;
    position: absolute;
    width: 100%
}

.title[data-v-9b2b4ae4]>:first-child {
    margin-bottom: -4px;
    margin-top: -4px
}

.manga-card-dense .manga-card[data-v-9b2b4ae4],.manga-card.dense[data-v-9b2b4ae4] {
    grid-template-areas: "art title title" "art stats stats" "art tags tags" "description description description";
    grid-template-columns: 64px 1fr auto;
    grid-template-rows: auto auto 1fr;
    height: unset
}

@media (min-width: 40rem) {
    .manga-card-dense .manga-card[data-v-9b2b4ae4],.manga-card.dense[data-v-9b2b4ae4] {
        grid-template-areas:"art title author stats status" "art tags tags tags tags" "art description description description description";
        grid-template-columns: 84px auto 1fr auto auto
    }
}

.manga-card-dense .manga-card .stats[data-v-9b2b4ae4],.manga-card.dense .stats[data-v-9b2b4ae4] {
    display: flex
}

.manga-card-dense .manga-card .stat[data-v-9b2b4ae4],.manga-card.dense .stat[data-v-9b2b4ae4] {
    font-size: .875rem
}

.manga-card-dense .manga-card .author[data-v-9b2b4ae4],.manga-card.dense .author[data-v-9b2b4ae4] {
    display: none
}

@media (min-width: 40rem) {
    .manga-card-dense .manga-card .author[data-v-9b2b4ae4],.manga-card.dense .author[data-v-9b2b4ae4] {
        display:block
    }
}

.manga-card-dense .manga-card .title[data-v-9b2b4ae4],.manga-card.dense .title[data-v-9b2b4ae4] {
    height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.manga-card-dense .manga-card .description[data-v-9b2b4ae4],.manga-card.dense .description[data-v-9b2b4ae4] {
    height: auto;
    max-height: 4.95em
}

.manga-card-dense .manga-card .description[data-v-9b2b4ae4]:after,.manga-card.dense .description[data-v-9b2b4ae4]:after {
    height: 1.5em;
    top: 3.45em
}

.manga-card-dense .manga-card.overview[data-v-9b2b4ae4],.manga-card.dense.overview[data-v-9b2b4ae4] {
    grid-template-areas: "art title" "art author" "art status";
    grid-template-columns: 64px 1fr
}

.manga-card-dense .manga-card.overview .description[data-v-9b2b4ae4],.manga-card-dense .manga-card.overview .stats[data-v-9b2b4ae4],.manga-card-dense .manga-card.overview .tags[data-v-9b2b4ae4],.manga-card.dense.overview .description[data-v-9b2b4ae4],.manga-card.dense.overview .stats[data-v-9b2b4ae4],.manga-card.dense.overview .tags[data-v-9b2b4ae4] {
    display: none
}

.manga-card-cover-only .manga-card[data-v-9b2b4ae4],.manga-card.cover-only[data-v-9b2b4ae4] {
    border-radius: .25rem;
    display: block;
    height: unset;
    overflow: hidden;
    padding: 0
}

.manga-card-cover-only .manga-card .description[data-v-9b2b4ae4],.manga-card-cover-only .manga-card .stats[data-v-9b2b4ae4],.manga-card-cover-only .manga-card .status[data-v-9b2b4ae4],.manga-card-cover-only .manga-card .tags[data-v-9b2b4ae4],.manga-card.cover-only .description[data-v-9b2b4ae4],.manga-card.cover-only .stats[data-v-9b2b4ae4],.manga-card.cover-only .status[data-v-9b2b4ae4],.manga-card.cover-only .tags[data-v-9b2b4ae4] {
    display: none
}

.manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.8));
    bottom: 0;
    display: -webkit-box;
    left: 0;
    margin-right: 0!important;
    overflow: hidden;
    padding: 1rem .5rem .25rem;
    position: absolute;
    text-shadow: 0 0 3px #000;
    width: 100%;
    z-index: 1
}

@media (min-width: 40rem) {
    .manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        overflow: hidden
    }
}

@media (min-width: 48rem) {
    .manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        overflow: hidden
    }
}

@media (min-width: 64rem) {
    .manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        overflow: hidden
    }
}

.manga-card-cover-only .manga-card .title>span[data-v-9b2b4ae4],.manga-card.cover-only .title>span[data-v-9b2b4ae4] {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    flex-grow: 1;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    line-height: 1.25;
    overflow: hidden
}

@media (min-width: 40rem) {
    .manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
        font-size:1rem;
        line-height: 1.375;
        line-height: 1.5rem;
        padding: 1rem .5rem .5rem
    }
}

.manga-card-cover-only .manga-card .title[data-v-9b2b4ae4],.manga-card.cover-only .title[data-v-9b2b4ae4] {
    transition-duration: 75ms;
    transition-property: padding;
    transition-timing-function: ease-in-out
}

.manga-card-cover-only .manga-card .manga-card-cover[data-v-9b2b4ae4],.manga-card.cover-only .manga-card-cover[data-v-9b2b4ae4] {
    height: 0;
    padding-bottom: 142.307692%;
    position: relative;
    width: 100%
}

.manga-card-cover-only .manga-card .cover[data-v-9b2b4ae4],.manga-card.cover-only .cover[data-v-9b2b4ae4] {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.manga-card-cover-only .manga-card .cover[data-v-9b2b4ae4] img,.manga-card.cover-only .cover[data-v-9b2b4ae4] img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition-duration: 75ms;
    transition-property: width,height;
    transition-timing-function: ease-in-out;
    width: 100%
}

@media (hover: hover) {
    .manga-card-cover-only .manga-card:hover .cover[data-v-9b2b4ae4] img {
        height:102%;
        width: 102%
    }

    .manga-card-cover-only .manga-card:hover .title[data-v-9b2b4ae4] {
        padding: 100% .5rem 1rem
    }
}

.page-input[data-v-f9897620] {
    background-color: var(--md-accent);
    border-radius: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    text-align: center;
    width: 4rem
}

.two-col[data-v-1f96d34d] {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.md-typed-input[data-v-9e3c816e] {
    box-sizing: border-box;
    min-width: 250px;
    outline: 1px solid transparent;
    transition: outline-color .2s ease-out,padding .1s ease-out
}

.md-typed-input.active[data-v-9e3c816e] {
    outline-color: var(--md-primary)
}

.md-typed-input--label[data-v-9e3c816e] {
    transition: font-size .1s ease-out,top .1s ease-out,transform .1s ease-out
}

.md-typed-input--label.empty[data-v-9e3c816e] {
    font-size: 1rem;
    line-height: 1.5rem;
    top: 50%;
    transform: translateY(-50%)
}

.md-typed-input__wrap.error .md-typed-input[data-v-9e3c816e] {
    outline-color: var(--md-status-red)
}

.dropdown-arrow[data-v-9e3c816e] {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .1s ease-out
}

.dropdown-arrow.active[data-v-9e3c816e] {
    transform: translateY(-50%) rotate(180deg);
    transform-origin: center
}

.results-container[data-v-9e3c816e] {
    box-sizing: border-box;
    transition: max-height .1s ease-out
}

.results-container.active.rounded-t[data-v-9e3c816e] {
    border-bottom: 1px solid var(--md-primary)
}

.results-container.active.rounded-b[data-v-9e3c816e] {
    border-top: 1px solid var(--md-primary)
}

.result-selection.active[data-v-9e3c816e] {
    position: relative
}

.result-selection.active[data-v-9e3c816e]:after {
    background: #000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: .15;
    position: absolute;
    right: 0;
    top: 0
}

.md-textarea[data-v-c44f4f71] {
    position: relative
}

.md-textarea__arrow[data-v-c44f4f71] {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: .15s ease-in-out!important
}

.md-textarea__arrow.active[data-v-c44f4f71] {
    transform: translateY(-50%) rotate(180deg)
}

.md-textarea__input[data-v-c44f4f71] {
    background: none;
    padding: 16px;
    position: relative;
    transition: padding-top .15s ease-in-out,padding-bottom .15s ease-in-out;
    width: 100%;
    z-index: 1
}

.md-textarea__input[data-v-c44f4f71]::-moz-placeholder {
    opacity: .6
}

.md-textarea__input[data-v-c44f4f71]::placeholder {
    opacity: .6
}

.md-textarea__input[data-v-c44f4f71]:focus {
    outline: none
}

.md-textarea__input:focus .md-textarea__border[data-v-c44f4f71] {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-textarea:focus-within .md-textarea__border[data-v-c44f4f71] {
    border: 1px solid var(--md-primary);
    opacity: 1
}

.md-textarea__wrap[data-v-c44f4f71] {
    background: var(--md-accent);
    border-radius: 2px;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-out;
    width: 100%
}

.md-textarea__wrap.fill-height[data-v-c44f4f71] {
    height: 100%
}

.md-textarea__label[data-v-c44f4f71] {
    height: 100%;
    left: 0;
    padding: 16px;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-textarea__label-placeholder[data-v-c44f4f71] {
    height: 0;
    transition: height .15s ease-in-out
}

.md-textarea__label>span[data-v-c44f4f71] {
    color: var(--primary)
}

.md-textarea__border[data-v-c44f4f71] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-textarea__error[data-v-c44f4f71] {
    font-size: .75em;
    z-index: -1
}

.md-textarea__error__wrap[data-v-c44f4f71] {
    min-height: 1.1em;
    overflow: hidden
}

.md-textarea__error.has-error[data-v-c44f4f71] {
    border-radius: 4px
}

.md-textarea__error.has-error .md-textarea__error[data-v-c44f4f71],.md-textarea__error.has-error .md-textarea__label[data-v-c44f4f71] {
    color: var(--md-status-red)
}

.md-textarea__error.has-error i[data-v-c44f4f71] {
    color: inherit!important
}

.md-textarea__error.has-error .md-textarea__border[data-v-c44f4f71] {
    border: 2px solid var(--md-status-red)!important;
    opacity: 1
}

.md-textarea:not(.md-textarea--no-label).md-textarea--populated .md-textarea__label-placeholder[data-v-c44f4f71],.md-textarea:not(.md-textarea--no-label):focus-within .md-textarea__label-placeholder[data-v-c44f4f71] {
    height: 27px
}

.md-textarea:not(.md-textarea--no-label).md-textarea--populated .md-textarea__input[data-v-c44f4f71],.md-textarea:not(.md-textarea--no-label):focus-within .md-textarea__input[data-v-c44f4f71] {
    bottom: 0;
    padding-bottom: 5px;
    padding-top: 0
}

.md-textarea:not(.md-textarea--no-label).md-textarea--populated .md-textarea__label[data-v-c44f4f71],.md-textarea:not(.md-textarea--no-label):focus-within .md-textarea__label[data-v-c44f4f71] {
    font-size: .75em;
    padding-top: 6px
}

.md-textarea.disabled .md-textarea__input[data-v-c44f4f71] {
    color: inherit;
    opacity: .2
}

.md-textarea.disabled .md-textarea:not(.md-textarea--populated) .md-textarea__label[data-v-c44f4f71] {
    opacity: .2
}

.md-error[data-v-c44f4f71] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-c44f4f71] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-c44f4f71] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-c44f4f71],.md-has-error .md-textarea__label[data-v-c44f4f71] {
    color: var(--md-danger)
}

.md-has-error i[data-v-c44f4f71] {
    color: inherit!important
}

.md-has-error .md-textarea__border[data-v-c44f4f71] {
    border: 2px solid #ff4040!important;
    opacity: 1
}

.md-error-modal[data-v-9f7012bd] {
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,.4);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999
}

.md-error-modal__content[data-v-9f7012bd] {
    background-color: var(--md-background);
    border-radius: .25rem;
    margin: calc(var(--side-margin)/2);
    max-height: calc(100% - var(--side-margin));
    max-width: calc(100% - var(--side-margin));
    overflow: auto;
    padding: 1rem
}

@media (min-width: 48rem) {
    .md-error-modal__content[data-v-9f7012bd] {
        max-width:65%;
        min-width: 480px
    }
}

.md-error-modal__title[data-v-9f7012bd] {
    color: var(--md-status-red);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: .5rem
}

.md-error-modal__errors[data-v-9f7012bd] {
    list-style-position: inside;
    list-style-type: disc
}

.md-error-modal__actions[data-v-9f7012bd] {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem
}

.report-title[data-v-a6b71ce7] {
    font-size: 27px;
    font-weight: 300
}

.report-subheader[data-v-a6b71ce7] {
    font-weight: 500;
    margin-bottom: 16px
}

.report-container[data-v-a6b71ce7] {
    height: 100%;
    min-height: 553px;
    padding: 24px
}

.report-header[data-v-a6b71ce7] {
    display: flex;
    margin-bottom: 40px
}

.report-close[data-v-a6b71ce7] {
    margin-left: auto;
    margin-right: -12px
}

.divider[data-v-a6b71ce7] {
    background-color: #80808080;
    height: 1px;
    margin: 16px 0;
    width: 100%
}

.layout-container[data-v-46d6a436] {
    --banner-overlap: calc(var(--navbar-height) + var(--top-margin));
    --banner-top: calc(var(--banner-overlap)*-1);
    display: grid;
    position: relative;
}

.layout-container .clear-banner[data-v-46d6a436] {
    grid-area: clear-banner;
    height: var(--banner-height)
}

.layout-container.manga[data-v-46d6a436] {
    --banner-overlay-gradient: linear-gradient(to bottom,var(--md-background-translucent-10) 0%,var(--md-background) 100%);
    gap: .75rem 1rem;
    grid-template-areas: "art title" "art stats" "info info" "buttons buttons" "synopsis synopsis" "content content";
    grid-template-columns: 100px auto
}

@media (min-width: 40rem) {
    .layout-container.manga[data-v-46d6a436] {
        --banner-filter:blur(4px);
        --banner-overlay-gradient: linear-gradient(67.81deg,rgba(0,0,0,.64) 35.51%,transparent);
        gap: 1rem;
        grid-template-areas: "left art title right" "left art buttons right" "left art info right" "left art stats right" "left art padding right" "left synopsis synopsis right" "left content content right";
        grid-template-columns: 1fr 200px minmax(0,calc(1240px - 3.5rem)) 1fr
    }
}

.layout-container.page[data-v-46d6a436] {
    --banner-overlap: calc(var(--navbar-height) + var(--top-margin));
    --banner-height: 8.5rem
}

@media (min-width: 40rem) {
    .layout-container.page[data-v-46d6a436] {
        --banner-height:12.5rem;
        --banner-overlap: var(--top-margin)
    }
}

.layout-container.page[data-v-46d6a436] {
    gap: .5rem
}

@media (min-width: 64rem) {
    .layout-container.page[data-v-46d6a436] {
        padding-left:4rem;
        padding-right: 4rem
    }
}

.layout-container.page[data-v-46d6a436] {
    grid-template-areas: "art-pad clear-banner" "art clear-banner" "art buttons" "content content";
    grid-template-columns: 120px auto
}

@media (min-width: 40rem) {
    .layout-container.page[data-v-46d6a436] {
        grid-template-areas:"left art-pad clear-banner right" "left art clear-banner right" "left art content right" "left buttons content right" "left padding content right";
        grid-template-columns: 1fr 200px minmax(0,calc(1340px - 3.5rem)) 1fr
    }
}

.layout-container.page.no-art[data-v-46d6a436] {
    grid-template-areas: "art-pad clear-banner" "art clear-banner" "buttons buttons" "content content"
}

@media (min-width: 40rem) {
    .layout-container.page.no-art[data-v-46d6a436] {
        grid-template-areas:"left art-pad clear-banner right" "left art clear-banner right" "left buttons content right" "left padding content right"
    }
}

@media not (min-width: 40rem) {
    .layout-container.has-gradient[data-v-46d6a436]:not(.manga) {
        --banner-overlay-gradient:linear-gradient(to bottom,var(--md-background) 0%,var(--md-background-translucent-10) 56px,var(--md-background-transparent) 50%)
    }
}

.banner-container[data-v-46d6a436] {
    clip: rect(0,auto,auto,0);
    -webkit-clip-path: inset(0 0);
    clip-path: inset(0 0);
    left: 0;
    position: absolute;
    right: 0;
    top: var(--banner-top);
    width: -webkit-fill-available;
    z-index: -1
}

.banner-container[data-v-46d6a436],.banner-image[data-v-46d6a436] {
    height: calc(var(--banner-height) + var(--banner-overlap))
}

.banner-image[data-v-46d6a436] {
    background-position: center 25%;
    background-size: cover;
    position: fixed;
    transition: width .15s ease-in-out;
    width: 100%
}

.banner-container>.banner-shade[data-v-46d6a436] {
    -webkit-backdrop-filter: var(--banner-filter);
    backdrop-filter: var(--banner-filter);
    background: var(--banner-overlay-gradient);
    bottom: 0;
    height: auto;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: auto
}

.banner-placeholder[data-v-46d6a436] {
    background-image: url(../img/group-banner.png);
    background-position: 50%;
    background-size: cover;
    height: calc(var(--banner-height) + var(--banner-overlap));
    position: fixed;
    transition: width .15s ease-in-out;
    width: 100%
}

.title[data-v-46d6a436] {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 700;
    grid-area: title;
    line-height: 100%;
    min-width: 0;
    position: relative
}

@media (min-width: 40rem) {
    .title[data-v-46d6a436] {
        --tw-text-opacity:1;
        color: #fff;
        color: rgb(255 255 255/var(--tw-text-opacity));
        height: var(--banner-height);
        justify-content: flex-end;
        padding-bottom: .5rem;
        padding-left: .5rem;
        padding-right: .5rem
    }
}

.tt-container[data-v-5dda2dc2] {
    position: relative
}

.popup[data-v-5dda2dc2] {
    background: var(--md-background-translucent-10);
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 250px;
    padding: .25rem .75rem;
    position: absolute;
    top: calc(100% + .5rem);
    width: 250px;
    width: -moz-max-content;
    width: max-content;
    z-index: 50
}

.trigger[data-v-5dda2dc2] {
    cursor: help
}

.slide-fade-enter-active[data-v-5dda2dc2],.slide-fade-leave-active[data-v-5dda2dc2] {
    transition: all .2s ease-out
}

.slide-fade-enter[data-v-5dda2dc2],.slide-fade-leave-to[data-v-5dda2dc2] {
    opacity: 0;
    top: 100%;
    visibility: hidden
}

.slide-fade-enter-to[data-v-5dda2dc2],.slide-fade-leave[data-v-5dda2dc2] {
    opacity: 1;
    top: calc(100% + .5rem);
    visibility: visible
}

.expand-enter-active,.expand-leave-active {
    backface-visibility: hidden;
    overflow: hidden;
    perspective: 1000px;
    transform: translateZ(0);
    transition: height .25s cubic-bezier(0,1,1,1);
    will-change: height
}

.expand-enter,.expand-leave-to {
    height: 0
}

.md--toggle-container[data-v-23d914dd] {
    border-radius: .25rem;
    display: flex;
    overflow: hidden
}

.md--toggle-btn[data-v-23d914dd] {
    border-radius: 0;
    height: auto;
    max-width: 100%;
    min-height: 36px;
    padding: 7px 16px!important
}

.text-item-container[data-v-6146d560] {
    align-items: center;
    background-color: var(--md-accent);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    position: relative;
    transition: border .1s ease-in-out
}

.text-item-container[data-v-6146d560]:focus-within {
    border: 1px solid var(--md-primary)!important
}

.text-item-container.md-has-error[data-v-6146d560] {
    border: 1px solid var(--md-status-red)
}

.inline-input[data-v-6146d560]::-webkit-scrollbar {
    display: none
}

.inline-input[data-v-6146d560] {
    background-color: transparent;
    outline: none;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%
}

.list-item[data-v-6146d560] {
    align-items: center;
    background-color: var(--md-accent);
    cursor: pointer;
    display: flex;
    gap: .5rem;
    min-width: 100%;
    padding: 4px 8px;
    white-space: nowrap
}

.list-item[data-v-6146d560]:hover {
    background-color: var(--md-accent-hover)
}

.rotating-arrow[data-v-6146d560] {
    transition: transform .15s ease-in-out
}

.stealth-error[data-v-6146d560] {
    align-items: center;
    color: var(--md-status-red);
    display: flex;
    font-size: .75em;
    padding-left: .5rem;
    padding-right: .5rem
}

.rotate-180[data-v-6146d560] {
    transform: rotate(180deg)
}

.flag-placeholder[data-v-6146d560] {
    box-sizing: border-box;
    min-height: 25px;
    min-width: 25px;
    overflow: hidden;
    position: relative
}

.flag-placeholder[data-v-6146d560]:after {
    border: 1px dashed;
    border-radius: 2px;
    content: "";
    height: 66.66%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.list-item[data-v-4bdfc853] {
    align-items: center;
    background-color: var(--md-accent);
    cursor: pointer;
    display: flex;
    gap: .5rem;
    min-width: 100%;
    padding: 4px 8px;
    white-space: nowrap
}

.list-item[data-v-4bdfc853]:hover {
    background-color: var(--md-accent-hover)
}

.label[data-v-4bdfc853] {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: .5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem
}

.input-container[data-v-4bdfc853] {
    transition: padding .15s ease-in-out
}

.md-has-error[data-v-4bdfc853] {
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative
}

.md-has-error[data-v-4bdfc853]:before {
    border: 1px solid var(--md-status-red);
    border-radius: .25rem;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.stealth-error[data-v-4bdfc853] {
    color: var(--md-status-red);
    font-size: .75em;
    padding-bottom: .5rem
}

.header-subtext[data-v-4bdfc853] {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -4px
}

.required[data-v-4bdfc853]:after {
    color: var(--md-status-red);
    content: "*"
}

.arrow[data-v-4bdfc853] {
    transition: transform .15s ease-in-out
}

.actions-cover[data-v-5ff54244] {
    background-color: var(--md-background);
    bottom: calc(var(--bottom-nav-area) + 48px);
    margin: 0 calc(var(--side-margin)*-1);
    min-height: 8px;
    padding: 0 var(--side-margin);
    position: sticky;
    z-index: 3
}

@media (min-width: 40rem) {
    .actions-cover[data-v-5ff54244] {
        bottom:calc(var(--bottom-nav-area) + 72px)
    }
}

.actions[data-v-5ff54244] {
    background-color: var(--md-background);
    bottom: var(--bottom-nav-area);
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin: 0 calc(var(--side-margin)*-1);
    padding: .5rem var(--side-margin);
    z-index: 2
}

@media (min-width: 40rem) {
    .actions[data-v-5ff54244] {
        display:flex;
        gap: 1rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
        padding-top: 1rem
    }
}

.actions[data-v-5ff54244]:before {
    background: linear-gradient(transparent,rgba(0,0,0,.2));
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%
}
