.cls-2[data-v-f59c83a9] {
    fill: #00aaf0
}

.str0[data-v-1cf2fc3b] {
    stroke: #2db300;
    stroke-width: 20;
    stroke-miterlimit: 22.9256
}

.fil0[data-v-1cf2fc3b] {
    fill: #2db300
}

.st0[data-v-1cf2fc3b],.st1[data-v-1cf2fc3b] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e20177
}

.st1[data-v-1cf2fc3b],.c[data-v-82644462] {
    fill: #fff
}

.st29[data-v-353b65d5],.st30[data-v-353b65d5] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff
}

.st30[data-v-353b65d5] {
    fill: #15111d
}

.st41[data-v-353b65d5] {
    fill: #09080e
}

.st1[data-v-4f4440d9] {
    fill: #fff
}

.spinner[data-v-0f31f331] {
    animation: spinner-rotate-0f31f331 1.4s linear infinite
}

.line[data-v-0f31f331],.spinner[data-v-0f31f331] {
    transform-origin: center center
}

.line[data-v-0f31f331] {
    animation: spinner-arc-0f31f331 1.4s ease-in-out infinite;
    transform: rotate(0)
}

@keyframes spinner-rotate-0f31f331 {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spinner-arc-0f31f331 {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100,200;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100,200;
        stroke-dashoffset: -113.097px
    }
}

.icon[data-v-4c681a64] {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    height: 1.5rem;
    justify-content: center;
    line-height: 1;
    text-indent: 0;
    transition: color .3s cubic-bezier(.25,.8,.5,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 1.5rem
}

.icon.xLarge[data-v-4c681a64] {
    height: 3rem;
    width: 3rem
}

.icon.large[data-v-4c681a64] {
    height: 2rem;
    width: 2rem
}

.icon.med[data-v-4c681a64] {
    height: 1.25rem;
    width: 1.25rem
}

.icon.small[data-v-4c681a64] {
    height: 1rem;
    width: 1rem
}

.icon.xSmall[data-v-4c681a64] {
    height: .75rem;
    width: .75rem
}

.icon.rel[data-v-4c681a64] {
    height: 1em;
    width: 1em
}

.not-found[data-v-4c681a64] {
    font-style: oblique;
    font-weight: 400;
    opacity: .7;
    width: auto!important
}

.disabled[data-v-fb154981] {
    cursor: default;
    opacity: .2;
    pointer-events: none
}

.md-btn[data-v-fb154981] {
    cursor: pointer;
    position: relative;
    transition: filter .1s ease-out,color .1s ease-out,min-width .2s ease-out
}

.md-btn[data-v-fb154981]:before {
    background: var(--main-color)
}

.md-btn[data-v-fb154981]:after,.md-btn[data-v-fb154981]:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s ease-out
}

.md-btn[data-v-fb154981]:after {
    background: #000;
    opacity: 0
}

.md-btn[data-v-fb154981] {
    color: var(--text-color)
}

.md-btn.text[data-v-fb154981]:before {
    background: transparent
}

.md-btn.text[data-v-fb154981]:after {
    background: #888
}

.md-btn.text[data-v-fb154981] {
    color: var(--main-color)
}

.md-btn.text.accent[data-v-fb154981] {
    color: currentColor
}

.md-btn.primary[data-v-fb154981] {
    --main-color: var(--md-primary);
    --text-color: #fff
}

.md-btn.accent[data-v-fb154981] {
    --main-color: var(--md-button-accent);
    --text-color: var(--color)
}

.md-btn.accent-alt[data-v-fb154981] {
    --main-color: var(--md-button-accent-alt);
    --text-color: var(--color)
}

.md-btn.danger[data-v-fb154981] {
    --main-color: var(--md-danger);
    --text-color: #fff
}

.md-btn.status-red[data-v-fb154981] {
    --main-color: var(--md-status-red);
    --text-color: #fff
}

.md-btn.status-yellow[data-v-fb154981] {
    --main-color: var(--md-status-yellow);
    --text-color: #fff
}

.md-btn.status-green[data-v-fb154981] {
    --main-color: var(--md-status-green);
    --text-color: #fff
}

.md-btn.status-grey[data-v-fb154981] {
    --main-color: var(--md-status-grey);
    --text-color: #000
}

.md-btn.status-purple[data-v-fb154981] {
    --main-color: var(--md-status-purple);
    --text-color: #fff
}

.md-btn.status-blue[data-v-fb154981] {
    --main-color: var(--md-status-blue);
    --text-color: #fff
}

@media (any-hover: hover) {
    .md-btn[data-v-fb154981]:hover:not(.text):after {
        opacity:.2
    }

    .md-btn:hover.text[data-v-fb154981]:before {
        background: var(--main-color);
        filter: brightness(.85);
        opacity: .35
    }
}

.md-btn[data-v-fb154981]:active:not(.text):after {
    opacity: .4
}

.md-btn:active.text[data-v-fb154981]:before {
    background: var(--main-color);
    filter: none;
    opacity: .55
}

.glow[data-v-fb154981]:not(.disabled):not(.text) {
    box-shadow: 0 0 24px -8px var(--main-color)
}

@keyframes fill-fb154981 {
    0% {
        transform: scale(0)
    }

    to {
        transform: scale(3)
    }
}

.page-container[data-v-0d2da047] {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%
}

.page-container.narrow[data-v-0d2da047] {
    max-width: 556px
}

.page-container.wide[data-v-0d2da047] {
    max-width: 1440px
}

.check[data-v-59f334c0] {
    animation: growCheckmark-59f334c0 .3s ease-out forwards
}

.cross[data-v-59f334c0] {
    animation: growCross-59f334c0 .3s ease-out forwards
}

@keyframes growCheckmark-59f334c0 {
    0% {
        d: path("M 4,10 L 4,10 L 4,10")
    }

    50% {
        d: path("M 4,10 L 9,15 L 9,15")
    }

    to {
        d: path("M 4,10 L 9,15 L 16,6")
    }
}

@keyframes growCross-59f334c0 {
    0% {
        d: path("M 4,4 L 4,4")
    }

    50% {
        d: path("M 4,4 L 16,16 M 16,4 L 16,4")
    }

    to {
        d: path("M 4,4 L 16,16 M 16,4 L 4,16")
    }
}
