.user-tag[data-v-59f72578] {
    align-items: center;
    display: flex;
    word-break: break-all
}

@media (min-width: 40rem) {
    .user-tag[data-v-59f72578] {
        overflow-wrap:normal;
        word-break: normal
    }
}

.largeIcon[data-v-59f72578] {
    margin-right: .5rem
}

.pill[data-v-59f72578]:hover {
    background-color: var(--md-accent-10)
}

.pill.lift[data-v-59f72578]:hover {
    background-color: var(--md-accent-20)
}

.group-tag[data-v-f2fb489d] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    border-radius: .25rem;
    display: -webkit-box;
    overflow: hidden;
    transition: background-color 75ms ease-in-out;
    word-break: break-all
}

.group-tag[data-v-f2fb489d],.group-tag.none[data-v-f2fb489d] {
    padding-left: .25rem;
    padding-right: .25rem
}

.group-tag.none[data-v-f2fb489d] {
    cursor: default
}

.wrap[data-v-f2fb489d] {
    flex-wrap: wrap
}

.group-tag.lift[data-v-f2fb489d]:hover {
    background-color: var(--md-accent-20-hover)!important
}

@media (hover: hover) {
    .group-tag[data-v-f2fb489d]:hover:not(.no-hover,.none) {
        background-color:var(--md-accent-20-hover)
    }
}

.reader--header[data-v-60f1fdd6] {
    border-bottom: 1px solid var(--md-accent);
    padding: 1rem;
    position: relative
}

.reader--header.mobile[data-v-60f1fdd6] {
    align-items: center;
    background-color: var(--md-background);
    display: flex;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    transition: all 75ms ease-in-out;
    width: 100%;
    z-index: 10
}

.reader--header.mobile>.reader--header-groups[data-v-60f1fdd6],.reader--header.mobile>.reader--header-meta[data-v-60f1fdd6] {
    display: none
}

.reader--header.mobile>div>.reader--header-title[data-v-60f1fdd6] {
    font-size: .875rem;
    line-height: 1.25rem
}

.reader--header.mobile>div>.reader--header-manga[data-v-60f1fdd6],.reader--header.mobile>div>.reader--header-title[data-v-60f1fdd6] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-align: left;
    word-break: break-all
}

.reader--header.mobile>div>.reader--header-manga[data-v-60f1fdd6] {
    font-size: 1rem;
    line-height: 1.5rem
}

.reader--header.mobile>div[data-v-60f1fdd6] {
    display: flex;
    flex-direction: column-reverse
}

.reader--header.mobile.hide[data-v-60f1fdd6] {
    transform: translateY(-100%)
}

.reader--header.mobile.hide[data-v-60f1fdd6]:before {
    transform: translateY(100%)
}

.reader--header-menu-icon[data-v-60f1fdd6] {
    padding: .5rem
}

.reader--header-title[data-v-60f1fdd6] {
    font-size: 1.125rem;
    line-height: 1.75rem;
    overflow-wrap: break-word;
    text-align: center;
    word-break: break-word
}

@media (min-width: 40rem) {
    .reader--header-title[data-v-60f1fdd6] {
        text-align:left
    }
}

.reader--header-manga[data-v-60f1fdd6] {
    color: var(--md-primary);
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    word-break: break-word
}

@media (min-width: 40rem) {
    .reader--header-manga[data-v-60f1fdd6] {
        display:inline;
        text-align: left
    }
}

.reader--header-meta[data-v-60f1fdd6] {
    grid-template-columns: repeat(3,4fr)
}

.reader--header-meta.webtoon[data-v-60f1fdd6] {
    grid-template-columns: repeat(2,6fr)
}

.reader--header-meta[data-v-60f1fdd6] {
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    margin-bottom: .5rem;
    margin-top: .5rem
}

.reader--meta[data-v-60f1fdd6] {
    align-items: center;
    background-color: var(--md-accent);
    border-radius: .125rem;
    display: flex;
    justify-content: center;
    min-width: 0;
    padding: .125rem .25rem;
    white-space: nowrap
}

.reader--meta.menu[data-v-60f1fdd6] {
    cursor: pointer
}

.reader--meta.menu[data-v-60f1fdd6]:hover {
    background-color: var(--md-accent-10)
}

.page-number[data-v-48659a67] {
    bottom: 4px;
    color: #fff;
    font-size: .65em;
    left: 50%;
    pointer-events: none;
    position: fixed;
    text-shadow: 1px 0 1px #0006,0 1px 2px #000b;
    transform: translate(-50%);
    transition: all .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.page-number.immersion-break[data-v-48659a67] {
    bottom: 38px;
    font-size: 1em
}

.md--progress.all-events[data-v-48659a67] {
    pointer-events: all
}

.md--progress.stop-events[data-v-48659a67] {
    pointer-events: none
}

.md--progress-wrap[data-v-48659a67] {
    max-height: 100vh;
    position: sticky
}

.md--progress[data-v-48659a67] {
    bottom: 0;
    cursor: pointer;
    display: flex;
    font-size: .75rem;
    height: 12px;
    line-height: 1rem;
    margin-top: -12px;
    overflow: hidden;
    position: relative;
    transition: height 75ms ease-in-out,margin-top 75ms ease-in-out;
    width: 100%;
    z-index: 10
}

@media (min-width: 48rem) {
    .md--progress[data-v-48659a67] {
        font-size:1rem;
        line-height: 1.5rem
    }
}

.md--progress:not(.rtl):not(.side)>.md--progress-page[data-v-48659a67]:not(:last-child) {
    border-right: 1px solid #fff
}

.md--progress.rtl[data-v-48659a67]:not(.side) {
    flex-direction: row-reverse
}

.md--progress.rtl:not(.side)>.md--progress-page[data-v-48659a67]:not(:last-child) {
    border-left: 1px solid #fff
}

.md--progress>.slider[data-v-48659a67] {
    background-color: var(--md-primary)
}

.md--progress-page[data-v-48659a67] {
    align-items: stretch;
    color: transparent;
    min-height: 0
}

.md--progress-page[data-v-48659a67],.md--progress-page>div[data-v-48659a67] {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    min-width: 0
}

.md--progress-page>div[data-v-48659a67] {
    align-items: center;
    background-color: var(--md-background);
    opacity: .4;
    transition: opacity 75ms ease-out,background-color 75ms ease-out
}

.md--progress-page>div.loaded[data-v-48659a67] {
    background-color: var(--md-accent-50);
    opacity: .5
}

.md--progress-page>div.error[data-v-48659a67]:not(.current) {
    background-color: var(--md-status-red)!important;
    opacity: .5!important
}

.md--progress-page>div.read[data-v-48659a67] {
    background-color: var(--md-primary)
}

.md--progress-page>div.current[data-v-48659a67],.md--progress-page>div[data-v-48659a67]:hover {
    background-color: var(--md-primary);
    opacity: 1
}

.md--progress-page>div[data-v-48659a67]:hover {
    --tw-text-opacity: 1;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.md--progress[data-v-48659a67] {
    --glow-colour: #fff5;
    --glow-bottom: 0 -100px 20px -90px currentcolor inset;
    --accent-bottom: 0 -100px 20px -80px #0009 inset;
    align-items: flex-end;
    overflow: visible
}

.md--progress[data-v-48659a67]:before {
    bottom: 0;
    box-shadow: var(--accent-bottom);
    content: " ";
    display: block;
    height: 64px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1
}

.md--progress[data-v-48659a67]:not(.side) {
    bottom: 1px
}

.md--progress:not(.side)>.md--progress-page>div[data-v-48659a67] {
    border-bottom: 1px solid;
    border-left: none;
    border-right: none
}

.md--progress:not(.rtl)>.md--progress-page[data-v-48659a67]:not(:last-child):after {
    border-right: 2px solid #b4b4b4;
    content: " ";
    min-height: 1px;
    top: -1px
}

.md--progress.rtl[data-v-48659a67] {
    flex-direction: row-reverse
}

.md--progress.rtl>.md--progress-page[data-v-48659a67]:not(:first-child):after {
    border-left: 2px solid #b4b4b4;
    content: " ";
    min-height: 1px;
    top: -1px
}

.md--progress>.slider[data-v-48659a67] {
    background: none;
    border-bottom: 1px solid var(--md-primary);
    margin-bottom: 1px;
    position: relative
}

.md--progress>.slider[data-v-48659a67]:before {
    bottom: 0;
    box-shadow: var(--glow-bottom);
    color: var(--md-primary);
    content: " ";
    display: block;
    height: 64px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 75ms ease-in-out
}

.md--progress:hover>.slider[data-v-48659a67]:before {
    opacity: .7
}

.md--progress>.md--progress-page[data-v-48659a67] {
    align-items: flex-end;
    height: 1px
}

.md--progress.side[data-v-48659a67] {
    border-bottom: none;
    flex-direction: column;
    height: 100%;
    margin-top: 0
}

.md--progress.side[data-v-48659a67]:before {
    bottom: 0;
    height: unset;
    left: unset;
    right: unset;
    top: 0;
    width: 64px
}

.md--progress.side>.slider[data-v-48659a67] {
    border-bottom: none
}

.md--progress.side>.slider[data-v-48659a67]:before {
    bottom: 0;
    height: unset;
    left: unset;
    right: unset;
    top: 0;
    width: 64px
}

.md--progress.side>.md--progress-page[data-v-48659a67] {
    align-items: flex-start;
    flex-direction: column;
    transition: all 75ms ease-out
}

.md--progress.side.rtl>.md--progress-page[data-v-48659a67] {
    flex-direction: column-reverse
}

.md--progress.side>.md--progress-page>div[data-v-48659a67] {
    align-items: center;
    border-bottom: none!important;
    display: flex;
    flex: 1 1 0;
    min-width: 64px
}

.md--progress.side>.md--progress-page>div.loaded[data-v-48659a67] {
    border-color: var(--md-accent-50)
}

.md--progress.side>.md--progress-page>div.current[data-v-48659a67],.md--progress.side>.md--progress-page>div.read[data-v-48659a67] {
    border-color: var(--md-primary)
}

.md--progress.side>.md--progress-page>div[data-v-48659a67]:before {
    height: 100%
}

.md--progress.side>.md--progress-page>div[data-v-48659a67]:hover {
    border-color: #fff;
    margin-bottom: 0
}

.md--progress.left[data-v-48659a67] {
    --glow-bottom: 100px 0 20px -90px currentcolor inset;
    --accent-bottom: 100px 0 20px -80px #0009 inset
}

.md--progress.left[data-v-48659a67]:before {
    left: 0
}

.md--progress.left>.slider[data-v-48659a67] {
    border-left: 1px solid var(--md-primary)
}

.md--progress.left>.slider[data-v-48659a67]:before {
    left: 0
}

.md--progress.left>.md--progress-page[data-v-48659a67] {
    align-items: flex-start;
    margin-right: -64px
}

.md--progress.left>.md--progress-page>div[data-v-48659a67] {
    justify-content: flex-start;
    padding-left: .5rem
}

.md--progress.left>.md--progress-page>div.current[data-v-48659a67],.md--progress.left>.md--progress-page>div.loaded[data-v-48659a67],.md--progress.left>.md--progress-page>div.read[data-v-48659a67] {
    border-left-style: solid;
    border-left-width: 1px
}

.md--progress.left>.md--progress-page>div[data-v-48659a67]:hover {
    margin-left: 1px;
    margin-right: -1px
}

.md--progress.right[data-v-48659a67] {
    --glow-bottom: -100px 0 20px -90px currentcolor inset;
    --accent-bottom: -100px 0 20px -80px #0009 inset
}

.md--progress.right[data-v-48659a67]:before {
    right: 0
}

.md--progress.right>.slider[data-v-48659a67] {
    border-right: 1px solid var(--md-primary)
}

.md--progress.right>.slider[data-v-48659a67]:before {
    right: 0
}

.md--progress.right>.md--progress-page[data-v-48659a67] {
    align-items: flex-end;
    margin-left: -64px
}

.md--progress.right>.md--progress-page>div[data-v-48659a67] {
    justify-content: flex-end;
    padding-right: .5rem
}

.md--progress.right>.md--progress-page>div.current[data-v-48659a67],.md--progress.right>.md--progress-page>div.loaded[data-v-48659a67],.md--progress.right>.md--progress-page>div.read[data-v-48659a67] {
    border-right-style: solid;
    border-right-width: 1px
}

.md--progress.right>.md--progress-page>div[data-v-48659a67]:hover {
    margin-left: -1px;
    margin-right: 1px
}

.md--progress>.md--progress-page>div[data-v-48659a67] {
    background: transparent;
    bottom: 0;
    flex: 1 1 0;
    opacity: 1;
    position: relative;
    transition: all 75ms ease-out
}

.md--progress>.md--progress-page>div[data-v-48659a67]:before {
    bottom: 0;
    box-shadow: var(--glow-bottom);
    color: var(--glow-colour);
    content: " ";
    height: 64px;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%
}

.md--progress>.md--progress-page>div.loaded[data-v-48659a67] {
    border-color: var(--md-accent-50)
}

.md--progress>.md--progress-page>div.read[data-v-48659a67] {
    border-bottom: 1px solid var(--md-primary)
}

.md--progress>.md--progress-page>div.current[data-v-48659a67] {
    --tw-text-opacity: 1;
    border-bottom: 1px solid var(--md-primary);
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    text-shadow: 1px 0 1px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.733)
}

.md--progress>.md--progress-page>div.current[data-v-48659a67]:before {
    opacity: 1
}

.md--progress>.md--progress-page>div[data-v-48659a67]:hover {
    --tw-text-opacity: 1;
    border-bottom: 1px solid #fff;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    margin-bottom: 1px;
    text-shadow: 1px 0 1px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.733)
}

.md--progress>.md--progress-page>div[data-v-48659a67]:hover:before {
    opacity: 1
}

.reader-progress-wrap[data-v-f197071c] {
    --padding: 1.5rem;
    --raw-height: 3rem;
    --progress-height: calc(var(--raw-height) + var(--padding));
    --slider-transition: 75ms ease-in-out;
    --slider-height: 1rem;
    --slider-ball-diameter: 1rem;
    --progress-transition: 75ms ease-in-out;
    bottom: 0;
    height: 4.5rem;
    height: var(--progress-height);
    margin-top: -4.5rem;
    margin-top: calc(var(--progress-height)*-1);
    overflow: hidden;
    padding-top: 1.5rem;
    padding-top: var(--padding);
    position: sticky
}

.reader-progress-wrap.no-anim[data-v-f197071c] {
    --progress-transition: 0s;
    --slider-transition: 0s
}

.reader-progress-wrap.normal>.progress-wrap[data-v-f197071c] {
    background-color: transparent;
    border-top: 1px solid transparent;
    transform: translateY(calc(var(--raw-height)/2 - var(--slider-height)/2 - .25rem))
}

.reader-progress-wrap.normal>.progress-wrap>.page-slider[data-v-f197071c] {
    opacity: .7;
    pointer-events: none
}

.reader-progress-wrap.normal>.progress-wrap>.page-number[data-v-f197071c] {
    max-height: 0;
    max-width: 0;
    min-height: 0;
    min-width: 0;
    transform: scale(0)
}

.reader-progress-wrap.normal.side.left>.progress-wrap[data-v-f197071c] {
    transform: translate(calc(var(--raw-height)/-2 + var(--slider-height)/2 + .25rem))
}

.reader-progress-wrap.normal.side.right>.progress-wrap[data-v-f197071c] {
    transform: translate(calc(var(--raw-height)/2 - var(--slider-height)/2 - .25rem))
}

.reader-progress-wrap.side[data-v-f197071c] {
    bottom: unset;
    height: 100%;
    margin-top: 0;
    max-height: 100vh;
    padding-top: 0;
    top: 0;
    width: var(--progress-height);
    z-index: 1
}

.reader-progress-wrap.side>.progress-wrap[data-v-f197071c] {
    border-top: none;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: var(--side-margin) 0;
    transform: translate(0);
    width: 3rem;
    width: var(--raw-height,3rem)
}

.reader-progress-wrap.side>.progress-wrap>.page-slider[data-v-f197071c] {
    height: 100%;
    max-height: 100%;
    width: var(--slider-height)
}

.reader-progress-wrap.side>.progress-wrap>.page-slider>.slider-dividers[data-v-f197071c] {
    flex-direction: column
}

.reader-progress-wrap.side.left>.progress-wrap[data-v-f197071c] {
    border-right: 1px solid transparent;
    transform: translate(-100%)
}

.reader-progress-wrap.side.right[data-v-f197071c] {
    transform: translate(-100%)
}

.reader-progress-wrap.side.right>.progress-wrap[data-v-f197071c] {
    border-left: 1px solid transparent;
    margin-left: auto;
    transform: translate(100%)
}

.reader-progress-wrap.side[data-v-f197071c] {
    overflow: visible
}

.reader-progress-wrap.web-mobile[data-v-f197071c] {
    pointer-events: none
}

.reader-progress-wrap.web-mobile>.progress-wrap[data-v-f197071c] {
    pointer-events: all
}

.reader-progress-wrap.mobile[data-v-f197071c] {
    --raw-height: var(--bottom-nav-height);
    --slider-height: var(--da8b6dd4);
    --slider-ball-diameter: var(--da8b6dd4);
    pointer-events: none
}

.reader-progress-wrap.mobile>.progress-wrap[data-v-f197071c] {
    background-color: transparent;
    pointer-events: all
}

.reader-progress-wrap.show-num>.pg-num[data-v-f197071c] {
    opacity: 1;
    transform: translate(-50%) translateY(0)
}

.reader-progress-wrap.normal[data-v-f197071c]:not(.mobile):not(.break,:hover) {
    --slider-height: var(--da8b6dd4);
    --slider-ball-diameter: var(--da8b6dd4)
}

.reader-progress-wrap.break[data-v-f197071c],.reader-progress-wrap[data-v-f197071c]:not(.web-mobile):not(.mobile):hover {
    --slider-height: 1rem;
    --slider-ball-diameter: 1rem
}

.reader-progress-wrap.break.mobile>.progress-wrap[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover.mobile>.progress-wrap[data-v-f197071c] {
    background-color: var(--md-background)
}

.reader-progress-wrap.break>.progress-wrap[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover>.progress-wrap[data-v-f197071c] {
    background-color: var(--md-background-translucent-10);
    border-color: var(--md-accent);
    transform: none!important
}

@media (min-width: 40rem) {
    .reader-progress-wrap.break>.progress-wrap[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover>.progress-wrap[data-v-f197071c] {
        background-color:var(--md-background)
    }
}

.reader-progress-wrap.break>.progress-wrap>.page-slider[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover>.progress-wrap>.page-slider[data-v-f197071c] {
    opacity: 1;
    pointer-events: all
}

.reader-progress-wrap.break>.progress-wrap>.page-number[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover>.progress-wrap>.page-number[data-v-f197071c] {
    max-height: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    transform: scale(1)
}

.reader-progress-wrap.break>.pg-num[data-v-f197071c],.reader-progress-wrap:not(.web-mobile):not(.mobile):hover>.pg-num[data-v-f197071c] {
    opacity: 0;
    transform: translate(-50%) translateY(calc(var(--progress-height)*-1))
}

.progress-wrap[data-v-f197071c] {
    align-items: center;
    background-color: var(--md-background-translucent-10);
    border-top: 1px solid var(--md-accent);
    display: flex;
    height: 3rem;
    height: var(--raw-height,3rem);
    padding: 0 var(--side-margin) var(--bottom-nav-padding);
    transform: translateY(100%);
    transition: all var(--progress-transition);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media (min-width: 40rem) {
    .progress-wrap[data-v-f197071c] {
        background-color:var(--md-background)
    }
}

.progress-wrap.rtl[data-v-f197071c] {
    flex-direction: row-reverse
}

.progress-wrap.active[data-v-f197071c] {
    transform: none
}

.progress-wrap.active .slider-ball-tooltip[data-v-f197071c] {
    display: block
}

.progress-wrap.thick[data-v-f197071c] {
    --slider-height: 2rem
}

.page-number[data-v-f197071c] {
    display: flex;
    font-size: .75rem;
    justify-content: center;
    line-height: 1rem;
    min-width: 0;
    transition: all var(--progress-transition);
    white-space: nowrap
}

.page-slider[data-v-f197071c] {
    background-color: var(--md-accent);
    border-radius: 9999px;
    cursor: pointer;
    flex-grow: 1;
    height: var(--slider-height);
    min-width: 0;
    position: relative;
    transition: height var(--progress-transition),width var(--progress-transition),opacity var(--progress-transition)
}

.slider-dividers[data-v-f197071c]:before {
    background-color: var(--md-primary);
    bottom: 0;
    content: "";
    left: 0;
    opacity: .7;
    position: absolute;
    top: 0;
    width: var(--257504e6);
    z-index: 1
}

@media (min-width: 40rem) {
    .slider-dividers[data-v-f197071c]:before {
        border-radius:9999px;
        z-index: unset
    }
}

.slider-dividers.side[data-v-f197071c]:before {
    bottom: unset;
    height: var(--257504e6);
    right: 0;
    width: auto
}

.slider-dividers[data-v-f197071c]:not(.continuous):before {
    transition: width var(--slider-transition),height var(--slider-transition)
}

.slider-dividers[data-v-f197071c]:not(.rtl)>:first-child {
    margin-left: 0;
    padding-left: var(--9e92f7a2)
}

.slider-dividers[data-v-f197071c]:not(.rtl)>:last-child {
    margin-right: 0;
    padding-right: var(--9e92f7a2)
}

.slider-dividers:not(.side).rtl[data-v-f197071c] {
    flex-direction: row-reverse
}

.slider-dividers:not(.side).rtl[data-v-f197071c]>:first-child {
    margin-right: 0;
    padding-right: var(--9e92f7a2)
}

.slider-dividers:not(.side).rtl[data-v-f197071c]>:last-child {
    margin-left: 0;
    padding-left: var(--9e92f7a2)
}

.slider-dividers:not(.side).rtl[data-v-f197071c]:before {
    left: unset;
    right: 0
}

.slider-dividers[data-v-f197071c] {
    border-radius: 9999px;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative
}

@media (min-width: 40rem) {
    .slider-dividers[data-v-f197071c] {
        overflow:visible
    }
}

.prog-divider[data-v-f197071c] {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    font-size: .75rem;
    height: 100%;
    justify-content: center;
    line-height: 1rem;
    margin: 0 var(--9e92f7a2);
    position: relative;
    white-space: nowrap
}

@media (min-width: 40rem) {
    .prog-divider.read[data-v-f197071c]:after {
        background-color:var(--md-primary);
        content: " ";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .7;
        position: absolute
    }

    .prog-divider.read.current[data-v-f197071c]:after {
        bottom: 0;
        height: auto;
        left: 0;
        top: 0;
        width: 50%
    }

    .prog-divider.read.current.rtl[data-v-f197071c]:after {
        left: unset;
        right: 0
    }

    .prog-divider.read.current.side[data-v-f197071c]:after {
        bottom: unset;
        height: 50%;
        left: 0;
        right: 0;
        top: 0;
        width: auto
    }

    .prog-divider[data-v-f197071c]:not(.side):not(.rtl):first-child,.prog-divider[data-v-f197071c]:not(.side):not(.rtl):first-child:after {
        border-bottom-left-radius: 9999px;
        border-top-left-radius: 9999px
    }

    .prog-divider:not(.side).rtl[data-v-f197071c]:first-child,.prog-divider:not(.side).rtl[data-v-f197071c]:first-child:after,.prog-divider[data-v-f197071c]:not(.side):not(.rtl):last-child,.prog-divider[data-v-f197071c]:not(.side):not(.rtl):last-child:after {
        border-bottom-right-radius: 9999px;
        border-top-right-radius: 9999px
    }

    .prog-divider:not(.side).rtl[data-v-f197071c]:last-child,.prog-divider:not(.side).rtl[data-v-f197071c]:last-child:after {
        border-bottom-left-radius: 9999px;
        border-top-left-radius: 9999px
    }

    .prog-divider.side[data-v-f197071c] {
        margin: var(--9e92f7a2) 0
    }

    .prog-divider.side[data-v-f197071c]:first-child,.prog-divider.side[data-v-f197071c]:first-child:after {
        border-top-left-radius: 9999px;
        border-top-right-radius: 9999px
    }

    .prog-divider.side[data-v-f197071c]:last-child,.prog-divider.side[data-v-f197071c]:last-child:after {
        border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px
    }
}

.prog-divider.loading[data-v-f197071c] {
    background-color: var(--md-accent)
}

.prog-divider.error[data-v-f197071c] {
    background-color: var(--md-status-red);
    z-index: 2
}

.prog-divider.loaded[data-v-f197071c] {
    background-color: var(--md-accent-20)
}

.prog-divider.continuous[data-v-f197071c] {
    margin: 0;
    transition: background-color var(--slider-transition)
}

.prog-divider:hover>:not(.current).prog-divider-label[data-v-f197071c] {
    display: block
}

.prog-divider-label[data-v-f197071c] {
    background-color: var(--md-accent);
    border-radius: 9999px;
    bottom: calc(100% + .5rem);
    display: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1;
    padding: .25rem .5rem;
    position: absolute;
    vertical-align: middle;
    white-space: nowrap
}

.prog-divider-label.left[data-v-f197071c] {
    bottom: unset;
    left: calc(100% + .5rem);
    right: unset
}

.prog-divider-label.right[data-v-f197071c] {
    bottom: unset;
    left: unset;
    right: calc(100% + .5rem)
}

#slider-ball[data-v-f197071c] {
    --tw-text-opacity: 1;
    align-items: center;
    background-color: var(--md-primary);
    border-radius: 9999px;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    cursor: grab;
    display: flex;
    font-size: .875rem;
    height: var(--slider-height);
    justify-content: center;
    left: var(--257504e6);
    line-height: 1.25rem;
    min-height: var(--slider-ball-diameter);
    min-width: var(--slider-ball-diameter);
    position: absolute;
    top: 0;
    transform: translate(-50%);
    transition: min-width var(--progress-transition),min-height var(--progress-transition),width var(--progress-transition),height var(--progress-transition);
    width: var(--86004de2);
    z-index: 3
}

#slider-ball.side[data-v-f197071c] {
    height: var(--86004de2);
    left: 0;
    top: var(--257504e6);
    transform: translateY(-50%);
    width: var(--slider-height)
}

#slider-ball[data-v-f197071c]:active,#slider-ball[data-v-f197071c]:active:after {
    cursor: grabbing
}

#slider-ball.continuous[data-v-f197071c] {
    height: var(--slider-ball-diameter);
    max-width: var(--slider-ball-diameter)
}

#slider-ball:not(.side).rtl[data-v-f197071c] {
    left: unset;
    right: var(--257504e6);
    transform: translate(50%)
}

#slider-ball[data-v-f197071c]:not(.continuous) {
    transition: left var(--slider-transition),right var(--slider-transition),top var(--slider-transition),min-width var(--progress-transition),min-height var(--progress-transition),height var(--progress-transition),width var(--progress-transition)
}

#slider-ball[data-v-f197071c]:after {
    content: " ";
    cursor: grab;
    height: calc(100% + 1rem);
    position: absolute;
    width: calc(100% + 1rem)
}

#slider-ball:hover>.slider-ball-tooltip[data-v-f197071c] {
    display: block!important
}

.slider-ball-tooltip[data-v-f197071c] {
    background-color: var(--md-primary);
    border-radius: 9999px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1;
    padding: .25rem .5rem;
    position: absolute;
    transform: translateY(-100%);
    vertical-align: middle;
    white-space: nowrap
}

.slider-ball-tooltip.left[data-v-f197071c] {
    transform: translate(100%)
}

.slider-ball-tooltip.right[data-v-f197071c] {
    transform: translate(-100%)
}

.slider-loading[data-v-f197071c] {
    background-color: var(--md-accent-30);
    border-radius: 9999px;
    height: 100%;
    overflow: hidden;
    position: relative
}

.slider-loading[data-v-f197071c]:after {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer-f197071c;
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

[data-v-f197071c]:is(.dark .slider-loading):after {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) invert(100%) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.slider-loading[data-v-f197071c]:after {
    background: linear-gradient(90deg,rgba(80,80,80,0) 0,#505050 50%,rgba(80,80,80,0))
}

.pg-num[data-v-f197071c] {
    border-radius: .75rem;
    bottom: 1rem;
    color: #fff;
    font-size: .75rem;
    left: 50%;
    line-height: 1rem;
    opacity: 1;
    position: absolute;
    text-shadow: 1px 0 1px #0006,0 1px 2px #000b;
    transform: translate(-50%);
    transition: all var(--progress-transition);
    white-space: nowrap
}

.pg-num.break[data-v-f197071c] {
    opacity: 0
}

@keyframes shimmer-f197071c {
    0% {
        left: -100%
    }

    to {
        left: 100%
    }
}

.reader--comments[data-v-59d47299] {
    background-color: var(--md-background);
    border-left: 1px solid var(--md-accent);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-right: -312px;
    max-height: 100vh;
    max-width: 312px;
    min-width: 312px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    position: fixed;
    right: 0;
    row-gap: .5rem;
    top: 0;
    transition: all .15s ease-in-out;
    z-index: 12
}

.reader--comments.open[data-v-59d47299] {
    margin-right: 0
}

@media (min-width: 64rem) {
    .reader--comments[data-v-59d47299] {
        position:sticky;
        z-index: unset
    }
}

.break-words[data-v-7e07fd0d] {
    word-break: break-word
}

.chevron[data-v-60d247c8] {
    transition: transform .15s ease
}

.chapter-line[data-v-cb72b5cd] {
    display: flex;
    padding-bottom: .125rem;
    padding-left: .625rem;
    padding-top: .125rem
}

@media (min-width: 40rem) {
    .chapter-line[data-v-cb72b5cd] {
        padding-left:.875rem
    }
}

.chapter-line.twoLine[data-v-cb72b5cd] {
    padding-bottom: .25rem;
    padding-left: .75rem;
    padding-top: .25rem
}

.chapter-line-bottom[data-v-cb72b5cd],.chapter-line-extend[data-v-cb72b5cd],.chapter-line-top[data-v-cb72b5cd] {
    transform: translateZ(0)
}

.chapter-line-top[data-v-cb72b5cd] {
    background-color: var(--md-contrast-1);
    border-top-left-radius: .0625rem;
    border-top-right-radius: .0625rem;
    height: .75rem;
    width: .125rem
}

.chapter-line-top.last[data-v-cb72b5cd] {
    border-bottom-left-radius: .0625rem
}

.chapter-line-top.twoLine[data-v-cb72b5cd] {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    margin-left: .125rem;
    width: .25rem
}

.chapter-line-top.twoLine.last[data-v-cb72b5cd] {
    border-bottom-left-radius: .125rem
}

.chapter-line-extend[data-v-cb72b5cd] {
    background-color: var(--md-contrast-1);
    border-bottom-right-radius: .0625rem;
    border-top-right-radius: .0625rem;
    height: .125rem;
    margin-top: .625rem;
    width: .5rem
}

@media (min-width: 40rem) {
    .chapter-line-extend[data-v-cb72b5cd] {
        width:.625rem
    }
}

.chapter-line-extend.twoLine[data-v-cb72b5cd] {
    border-bottom-right-radius: .125rem;
    border-top-right-radius: .125rem;
    height: .25rem;
    margin-top: .5rem
}

.chapter-line-bottom[data-v-cb72b5cd] {
    background-color: var(--md-contrast-1);
    border-bottom-left-radius: .0625rem;
    border-bottom-right-radius: .0625rem;
    margin-left: -.125rem;
    margin-top: .75rem;
    width: .125rem
}

.chapter-line-bottom.twoLine[data-v-cb72b5cd] {
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem;
    margin-left: -.25rem;
    width: .25rem
}

.chapter-line-bottom[data-v-cb72b5cd] {
    height: calc(100% - .75rem)
}

.chapter-link[data-v-80a2d481] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden;
    word-break: break-all
}

.chapter[data-v-80a2d481]:not(.read) {
    background: linear-gradient(90deg,var(--md-primary) 0,var(--md-primary) 2px,var(--md-background-transparent) 2px);
    border-radius: 2px
}

.chapter[data-v-80a2d481] {
    transition: background-color .1s ease-out
}

@media (any-hover: hover) {
    .chapter[data-v-80a2d481]:hover {
        background-color:var(--md-accent-hover)
    }
}

.chapter[data-v-80a2d481]:active {
    background-color: var(--md-accent-active)
}

.chapter-grid[data-v-80a2d481] {
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    cursor: pointer;
    display: grid;
    font-size: .75rem;
    line-height: 1rem;
    padding: .25rem .5rem;
    row-gap: .25rem
}

@media (min-width: 48rem) {
    .chapter-grid[data-v-80a2d481] {
        font-size:.875rem;
        line-height: 1.25rem
    }
}

.chapter-grid[data-v-80a2d481] {
    grid-template-areas: "title-views" "group-comments" "uploader-timestamp";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto
}

.chapter-grid.no-link[data-v-80a2d481] {
    pointer-events: none
}

@media (min-width: 40rem) {
    .chapter-grid[data-v-80a2d481] {
        grid-template-areas:"title timestamp edit" "uploader comments delete";
        grid-template-columns: auto 124px 50px;
        grid-template-rows: auto auto
    }

    .chapter-grid.no-stats[data-v-80a2d481] {
        grid-template-areas: "title timestamp" "groups uploader";
        grid-template-columns: auto 124px;
        grid-template-rows: auto auto
    }
}

@media (min-width: 48rem) {
    .chapter-grid[data-v-80a2d481] {
        grid-template-columns:auto 150px 60px;
        grid-template-rows: auto auto
    }

    .chapter-grid.no-stats[data-v-80a2d481]:not(.one-line) {
        grid-template-columns: auto 150px
    }

    .chapter-grid.one-line[data-v-80a2d481] {
        font-size: .75rem;
        grid-template-areas: "title spacer groups uploader comments views timestamp";
        grid-template-columns: fit-content(100%) auto fit-content(100%) fit-content(100%) 40px 48px 48px;
        line-height: 1rem;
        row-gap: 0
    }

    .chapter-grid.one-line.no-stats[data-v-80a2d481] {
        grid-template-areas: "title spacer groups uploader timestamp";
        grid-template-columns: fit-content(100%) auto fit-content(100%) fit-content(100%) min-content
    }
}

.view-count[data-v-80a2d481] {
    align-items: center;
    display: flex;
    justify-self: start;
    margin-left: -.25rem;
    padding: .125rem .25rem;
    white-space: nowrap
}

.readMarker[data-v-80a2d481] {
    height: 1.5rem!important;
    margin: -.125rem -.5rem -.125rem -1rem;
    padding: .25rem .5rem;
    width: 3rem!important
}

.not-read[data-v-ec3484a3] {
    background: linear-gradient(90deg,var(--md-status-blue) 0,var(--md-status-blue) 2px,var(--md-accent) 2px)
}

.two-line[data-v-ec3484a3] {
    font-size: .875rem;
    line-height: 1.25rem
}

.readMarker[data-v-ec3484a3] {
    height: 1.5rem!important;
    margin: -.125rem -.5rem -.125rem -1rem;
    padding: .25rem .5rem;
    width: 3rem!important
}

.readMarker.med[data-v-ec3484a3] {
    height: 1.75rem!important;
    margin: -.25rem -.5rem -.25rem -1rem;
    padding: .25rem .5rem;
    width: 3.25rem!important
}

.chapter-header[data-v-ec3484a3] {
    cursor: pointer;
    display: grid;
    font-size: .75rem;
    grid-template-columns: 1fr auto min-content;
    line-height: 1rem;
    padding: .25rem .5rem
}

.langs-holder[data-v-ec3484a3] {
    align-items: center;
    display: flex;
    gap: .125rem;
    margin-left: .25rem;
    min-width: 0;
    overflow-x: auto;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.langs-holder[data-v-ec3484a3]::-webkit-scrollbar {
    height: 1px
}

.bar[data-v-02a81a93] {
    background-color: var(--md-accent);
    height: 2px;
    transform: translateY(-50%);
    width: 100%
}

.bar[data-v-02a81a93],.handle[data-v-02a81a93] {
    position: absolute;
    top: 50%
}

.handle[data-v-02a81a93] {
    background-color: var(--md-primary);
    border-radius: 9999px;
    cursor: pointer;
    height: .75rem;
    left: var(--handle);
    transform: translate(-50%,-50%);
    width: .75rem
}

.handle.disabled[data-v-02a81a93] {
    background-color: var(--md-accent);
    cursor: default
}

.handle[data-v-02a81a93]:after {
    background-color: var(--md-primary);
    border-radius: 9999px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    opacity: .5;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition-duration: .15s;
    transition-property: width,height;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 0;
    z-index: -1
}

.handle[data-v-02a81a93]:hover:not(.down):not:after {
    height: 1.5rem;
    width: 1.5rem
}

.handle.down[data-v-02a81a93]:after {
    height: 2.5rem;
    width: 2.5rem
}

.thumb[data-v-02a81a93] {
    bottom: 100%;
    left: var(--handle);
    position: absolute;
    transform: translate(-50%,100%) rotate(45deg) scale(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.thumb.down[data-v-02a81a93] {
    transform: translate(-50%) rotate(45deg)
}

.thumb[data-v-02a81a93] {
    --tw-text-opacity: 1;
    align-items: center;
    background-color: var(--md-primary);
    border-radius: 50% 50% 0;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: flex;
    height: 2rem;
    justify-content: center;
    transition-duration: .15s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 2rem
}

.thumb span[data-v-02a81a93] {
    display: block;
    font-size: .75rem;
    line-height: 1rem;
    transform: rotate(-45deg)
}

.hu-color-picker {
    background: #1d2024;
    border-radius: 4px;
    box-shadow: 0 0 16px #00000029;
    padding: 10px;
    z-index: 1
}

.hu-color-picker.light {
    background: #f7f8f9
}

.hu-color-picker.light .color-show .sucker {
    background: #eceef0
}

.hu-color-picker.light .color-type .name {
    background: #e7e8e9
}

.hu-color-picker.light .color-type .value {
    background: #eceef0;
    color: #666
}

.hu-color-picker.light .colors.history {
    border-top: 1px solid #eee
}

.hu-color-picker canvas {
    vertical-align: top
}

.hu-color-picker .color-set {
    display: flex
}

.hu-color-picker .color-show {
    display: flex;
    margin-top: 8px
}

.saturation {
    cursor: pointer;
    position: relative
}

.saturation .slide {
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #0000004d;
    height: 10px;
    left: 100px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 10px
}

.color-type {
    display: flex;
    font-size: 12px;
    margin-top: 8px
}

.color-type .name {
    align-items: center;
    background: #252930;
    color: #999;
    display: flex;
    float: left;
    height: 30px;
    justify-content: center;
    width: 60px
}

.color-type .value {
    background: #2e333a;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    flex: 1;
    height: 30px;
    min-width: 100px;
    padding: 0 12px
}

.color-alpha {
    cursor: pointer;
    margin-left: 8px;
    position: relative
}

.color-alpha .slide {
    background: #fff;
    box-shadow: 0 0 1px #0000004d;
    height: 4px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100px;
    width: 100%
}

.sucker {
    fill: #9099a4;
    background: #2e333a;
    cursor: pointer;
    transition: all .3s;
    width: 30px
}

.sucker.active,.sucker:hover {
    fill: #1593ff
}

.colors {
    margin: 0;
    padding: 0
}

.colors.history {
    border-top: 1px solid #2e333a;
    margin-top: 10px
}

.colors .item {
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 10px 0 0 10px;
    position: relative;
    transition: all .1s;
    vertical-align: top;
    width: 16px
}

.colors .item:nth-child(8n+1) {
    margin-left: 0
}

.colors .item:hover {
    transform: scale(1.4)
}

.colors .item .alpha {
    border-radius: 4px;
    height: 100%
}

.colors .item .color {
    border-radius: 3px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.hue {
    cursor: pointer;
    margin-left: 8px;
    position: relative
}

.hue .slide {
    background: #fff;
    box-shadow: 0 0 1px #0000004d;
    height: 4px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 100px;
    width: 100%
}

.reader--menu[data-v-4ee8fded] {
    align-self: flex-start;
    background-color: var(--md-background);
    border-left: 1px solid var(--md-accent);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: calc(var(--drawer-reader-width)*-1);
    max-height: 100vh;
    max-width: var(--drawer-reader-width);
    min-width: var(--drawer-reader-min-width);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    position: fixed;
    right: 0;
    row-gap: .5rem;
    top: 0;
    transition: all .15s ease-in-out;
    width: 100%;
    z-index: 10
}

@media (min-width: 48rem) {
    .reader--menu[data-v-4ee8fded] {
        box-shadow:none;
        min-width: var(--drawer-reader-width);
        position: sticky;
        right: unset;
        width: unset
    }
}

.reader--menu.pinned[data-v-4ee8fded] {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11
}

.reader--menu.open[data-v-4ee8fded] {
    margin-right: 0
}

.reader--menu.open.pinned[data-v-4ee8fded] {
    box-shadow: 0 0 30px -5px #0003
}

.reader--menu-tab[data-v-4ee8fded] {
    border-color: #fff #fff transparent transparent;
    border-style: solid;
    border-width: 3rem;
    cursor: pointer;
    opacity: .3;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .15s ease-out
}

.reader--menu-tab[data-v-4ee8fded]:hover {
    opacity: 1
}

.reader--menu-tab>*[data-v-4ee8fded] {
    --tw-text-opacity: 1;
    color: #000;
    color: rgb(0 0 0/var(--tw-text-opacity));
    left: 1.25rem;
    position: absolute;
    top: -1.25rem;
    transform: translate(-50%,-50%)
}

.non-app-mobile[data-v-bf4eb604] {
    background-color: var(--md-background-translucent-10);
    display: flex;
    height: 60px;
    left: 0;
    margin-bottom: -60px;
    opacity: 0;
    padding: .5rem 1rem;
    pointer-events: none;
    position: sticky;
    top: var(--header-padding);
    transition: opacity 75ms ease-in-out;
    width: 100%;
    z-index: 2
}

.non-app-mobile.break[data-v-bf4eb604] {
    opacity: 1;
    pointer-events: all
}

.non-app-mobile>div>.reader--header-title[data-v-bf4eb604] {
    font-size: .875rem;
    line-height: 1.25rem
}

.non-app-mobile>div>.reader--header-manga[data-v-bf4eb604],.non-app-mobile>div>.reader--header-title[data-v-bf4eb604] {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    text-align: left;
    word-break: break-all
}

.non-app-mobile>div>.reader--header-manga[data-v-bf4eb604] {
    font-size: 1rem;
    line-height: 1.5rem
}

.cursor[data-v-c2ecc0c4] {
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    filter: drop-shadow(3px 5px 5px rgb(0 0 0/.8));
    left: var(--cl);
    pointer-events: none;
    position: fixed;
    top: var(--ct);
    transform: translate(-50%,-50%);
    z-index: 100
}

.cursor[data-v-c2ecc0c4],.cursor.dark[data-v-c2ecc0c4] {
    --tw-text-opacity: 1
}

.cursor.dark[data-v-c2ecc0c4] {
    color: #000;
    color: rgb(0 0 0/var(--tw-text-opacity));
    filter: drop-shadow(3px 5px 5px rgb(255 255 255/.8))
}

.cursor.fade[data-v-c2ecc0c4] {
    opacity: 0;
    transition: opacity .2s ease-out
}

.cursor>*[data-v-c2ecc0c4] {
    height: 3rem;
    width: 3rem
}

.reader--page-overlay[data-v-c56e0733] {
    --tw-text-opacity: 1;
    align-items: center;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: flex-end;
    margin-top: -9999px;
    opacity: 0;
    position: relative;
    transition: all 75ms ease-out;
    z-index: 1
}

.reader--page-overlay.left[data-v-c56e0733] {
    align-items: flex-start;
    justify-self: start
}

.reader--page-overlay.left[data-v-c56e0733]:before {
    --tw-bg-opacity: 1;
    background-color: #000;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    left: 0;
    position: absolute
}

.reader--page-overlay.right[data-v-c56e0733] {
    align-items: flex-end;
    justify-self: end
}

.reader--page-overlay.right[data-v-c56e0733]:before {
    --tw-bg-opacity: 1;
    background-color: #000;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    position: absolute;
    right: 0
}

.reader--page-overlay.show[data-v-c56e0733] {
    height: 30%;
    opacity: 1;
    padding: 2rem
}

.reader--page-overlay.show[data-v-c56e0733]:before {
    box-shadow: 0 0 300px 250px #000
}

.reader--page-overlay[data-v-c56e0733]:before {
    --tw-bg-opacity: 1;
    background-color: #000;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    bottom: 0;
    box-shadow: 0 0 #000;
    content: " ";
    opacity: .7;
    position: absolute;
    transition: all 75ms ease-out;
    width: 40px;
    z-index: -1
}

.reader--immersive-buttons[data-v-2a776833] {
    --tw-text-opacity: 1;
    align-items: center;
    color: #fff;
    color: rgb(255 255 255/var(--tw-text-opacity));
    display: flex;
    flex-direction: column;
    gap: .25rem;
    height: 10rem;
    justify-content: center;
    opacity: 0;
    position: fixed;
    text-shadow: 0 2px 1px rgba(0,0,0,.73),0 1px 3px rgba(0,0,0,.73);
    transition: all 75ms ease-out;
    width: 10rem
}

.reader--immersive-buttons.break[data-v-2a776833],.reader--immersive-buttons[data-v-2a776833]:hover {
    opacity: 1
}

.reader--immersive-buttons.break[data-v-2a776833] {
    height: 13rem;
    width: 13rem
}

.reader--immersive-buttons[data-v-2a776833]:before {
    box-shadow: 0 0 200px 150px #000000b3;
    content: " ";
    position: absolute;
    z-index: -1
}

.reader--immersive-buttons.l[data-v-2a776833],.reader--immersive-buttons.l[data-v-2a776833]:before {
    left: 0
}

.reader--immersive-buttons.r[data-v-2a776833],.reader--immersive-buttons.r[data-v-2a776833]:before {
    right: 0
}

.reader--immersive-buttons.t[data-v-2a776833],.reader--immersive-buttons.t[data-v-2a776833]:before {
    top: 0
}

.reader--immersive-buttons.b[data-v-2a776833],.reader--immersive-buttons.b[data-v-2a776833]:before {
    bottom: 0
}

.error[data-v-8b863915],.unloaded[data-v-8b863915] {
    align-items: center;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: larger;
    font-weight: 700;
    height: 5rem;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%
}

.error[data-v-8b863915] {
    background-color: var(--md-status-red);
    color: #fff
}

.unloaded[data-v-8b863915] {
    background-color: var(--md-accent);
    border: 4px solid var(--md-accent-10)
}

.md--page[data-v-8b863915] {
    border-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    outline-style: none;
    position: relative
}

.md--page.grow-pages.limit-height.limit-width[data-v-8b863915] {
    width: 100%
}

.img[data-v-8b863915] {
    --max-height: calc(100vh - var(--header-padding));
    height: unset;
    margin-bottom: auto;
    margin-top: auto;
    max-width: unset;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    word-break: break-all
}

.img.ls[data-v-8b863915],.img.sp[data-v-8b863915] {
    margin-left: auto;
    margin-right: auto
}

.img.limit-height[data-v-8b863915] {
    min-height: 0
}

.img.limit-width[data-v-8b863915] {
    max-width: 100%;
    min-width: 0;
    -o-object-fit: contain;
    object-fit: contain
}

.img.limit-width.ws[data-v-8b863915] {
    min-width: unset;
    width: 100%
}

.img.grow-pages.limit-height[data-v-8b863915]:not(.limit-width) {
    min-height: var(--max-height)
}

.img.grow-pages.limit-width[data-v-8b863915]:not(.limit-height):not(.dp) {
    min-width: 100%
}

.img.grow-pages.limit-width.dp[data-v-8b863915] {
    flex-grow: 1
}

.img.grow-pages.limit-height.limit-width.sp[data-v-8b863915] {
    min-height: var(--max-height);
    min-width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.img.grow-pages.limit-height.limit-width.ls[data-v-8b863915] {
    min-width: 100%
}

.img.grow-pages.limit-height.limit-width.ws[data-v-8b863915] {
    min-height: var(--max-height)
}

.pages-wrap[data-v-c2d3d533] {
    min-height: calc(100vh - var(--header-padding))
}

.pages-wrap.ls[data-v-c2d3d533] {
    min-height: calc(100vh - var(--header-padding) - 3rem)
}

@supports (min-height: 100dvh) {
    .pages-wrap[data-v-c2d3d533] {
        min-height:calc(100dvh - var(--header-padding))
    }

    .pages-wrap.ls[data-v-c2d3d533] {
        min-height: calc(100dvh - var(--header-padding) - 3rem)
    }
}

.zoom-reset[data-v-c2d3d533] {
    align-items: center;
    border-radius: .375rem;
    bottom: 3rem;
    display: flex;
    height: 2.5rem;
    justify-content: space-evenly;
    width: 8rem;
    z-index: 30
}

.scroll-to-top[data-v-c2d3d533],.zoom-reset[data-v-c2d3d533] {
    background-color: var(--md-accent);
    left: 50%;
    position: fixed;
    transform: translate(-50%)
}

.scroll-to-top[data-v-c2d3d533] {
    --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
    align-items: center;
    border-radius: 9999px;
    box-shadow: 0 0 #0000,0 0 #0000,0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .5rem;
    transition: background-color .1s ease-in-out,opacity 75ms ease-in-out;
    z-index: 10
}

.scroll-to-top[data-v-c2d3d533]:hover {
    background-color: var(--md-accent-hover)
}

.scroll-to-top[data-v-c2d3d533]:active {
    background-color: var(--md-accent-active)
}

.scroll-to-top[data-v-c2d3d533] {
    bottom: var(--bottom-margin)
}

.scroll-to-top.pad[data-v-c2d3d533] {
    bottom: calc(max(var(--bottom-nav-area),3rem) + var(--bottom-margin))
}

.wide-strip[data-v-c2d3d533] {
    align-items: center;
    justify-content: unset
}

.wide-strip.rtl[data-v-c2d3d533] {
    direction: rtl
}

.bw[data-v-c2d3d533] {
    filter: grayscale(100%)
}

.mobile-ls[data-v-b88a16d5] {
    padding-top: 61px
}

.md--reader-wrap[data-v-b88a16d5] {
    --header-padding: 0px;
    display: grid;
    grid-template-areas: "chapter comments menu";
    grid-template-columns: auto min-content min-content;
    height: 100%;
    margin: 0!important;
    min-height: 100vh;
    overflow-x: clip;
    padding: 0!important;
    width: 100%
}

.md--reader-wrap.header-shown[data-v-b88a16d5]:not(.immersive) {
    --header-padding: 56px
}

.md--reader-warning[data-v-b88a16d5] {
    align-items: center;
    background-color: var(--md-background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    padding: 1.5rem;
    position: fixed;
    right: 0;
    top: 0
}

.md--reader-chapter[data-v-b88a16d5] {
    display: grid;
    grid-template-rows: min-content auto min-content min-content;
    height: 100%
}

.md--reader-chapter.header-not-floating[data-v-b88a16d5] {
    padding-top: var(--navbar-height)
}

.md--reader-chapter[data-v-b88a16d5] {
    grid-template-areas: "header" "pages" "progress" "next"
}

.md--reader-chapter.left-progress[data-v-b88a16d5] {
    grid-template-areas: "header header" "progress pages" "next next";
    grid-template-columns: 0 auto;
    grid-template-rows: min-content auto min-content
}

.md--reader-chapter.right-progress[data-v-b88a16d5] {
    grid-template-areas: "header header" "pages progress" "next next";
    grid-template-columns: auto 0;
    grid-template-rows: min-content auto min-content
}

.md--reader-chapter.immersive[data-v-b88a16d5] {
    overflow-y: auto
}

.md--reader-header[data-v-b88a16d5] {
    grid-area: header
}

.md--reader-menu[data-v-b88a16d5] {
    grid-area: menu
}

.md--reader-pages[data-v-b88a16d5] {
    grid-area: pages;
    width: 100%
}

.md--reader-pages.immersive[data-v-b88a16d5] {
    min-height: unset
}

.md--reader-progress[data-v-b88a16d5] {
    grid-area: progress;
    min-width: 0;
    z-index: 1
}

.md--reader-comments[data-v-b88a16d5] {
    grid-area: comments
}

.placeholder[data-v-b88a16d5] {
    display: block;
    height: 80px;
    margin: auto;
    position: relative;
    width: 80px
}

.placeholder div[data-v-b88a16d5] {
    animation: lds-ripple-b88a16d5 2.5s ease-in-out infinite;
    background: var(--md-primary);
    border-radius: 50%;
    opacity: 1;
    position: absolute
}

.placeholder div[data-v-b88a16d5]:nth-child(2) {
    animation-delay: -1.25s
}

@keyframes lds-ripple-b88a16d5 {
    0% {
        height: 0;
        left: 36px;
        opacity: 1;
        top: 36px;
        width: 0
    }

    to {
        height: 72px;
        left: 0;
        opacity: 0;
        top: 0;
        width: 72px
    }
}

.pulse[data-v-b561c223] {
    animation: pulse-b561c223 1.1s ease-in infinite;
    width: unset!important
}

.ease[data-v-b561c223] {
    transition: width .3s ease-out
}

@keyframes pulse-b561c223 {
    0% {
        left: -90%;
        right: 100%
    }

    to {
        left: 100%;
        right: -35%
    }
}

@keyframes wiggle-623fafaf {
    0% {
        transform: rotate(2deg)
    }

    50% {
        transform: rotate(-2deg)
    }

    to {
        transform: rotate(2deg)
    }
}

.page[data-v-623fafaf] {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    height: 184px;
    justify-content: center;
    position: relative;
    transition: all .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 130px
}

.page.compact[data-v-623fafaf] {
    height: 4.25rem
}

.page.compact>.middle[data-v-623fafaf] {
    border-radius: .5rem;
    height: 2rem;
    left: .5rem;
    right: .5rem;
    top: .25rem;
    transform: none;
    width: auto
}

.page.compact>.duplicate[data-v-623fafaf] {
    bottom: auto;
    left: 50%;
    top: -.875rem;
    transform: translate(-50%)
}

.page.placeholder[data-v-623fafaf] {
    border: 1px dashed #4d4d4d
}

.page.placeholder[data-v-623fafaf]:hover {
    background-color: var(--md-accent)
}

.page[data-v-623fafaf]:not(.placeholder) {
    box-shadow: 0 4px 16px #0003
}

.page.dragging[data-v-623fafaf] {
    animation: wiggle-623fafaf .3s ease-in-out infinite
}

.page>.label[data-v-623fafaf] {
    background-color: #494949;
    border-radius: 11px;
    bottom: 4px;
    color: #fff;
    font-size: .75rem;
    left: 4px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    padding: 2px 8px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1
}

.page>.error-icon[data-v-623fafaf],.page>.info-icon[data-v-623fafaf] {
    align-items: center;
    background-color: #282b30;
    border-radius: 50%;
    color: #fff;
    display: flex;
    height: 16px;
    justify-content: center;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 16px
}

.page>.close>.over-box[data-v-623fafaf],.page>.edit-page>.over-box[data-v-623fafaf] {
    height: 2.5rem;
    width: 2.5rem
}

.page>.close>.icon-container[data-v-623fafaf],.page>.edit-page>.icon-container[data-v-623fafaf] {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #282b30;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: background-color .15s ease-out
}

.page>.close:hover>.icon-container[data-v-623fafaf],.page>.edit-page:hover>.icon-container[data-v-623fafaf] {
    background-color: #4d4d4d;
    cursor: pointer
}

.page>.close[data-v-623fafaf] {
    --button-size: 24px;
    position: absolute;
    right: -8px;
    right: calc(var(--button-size)/-3);
    top: -8px;
    top: calc(var(--button-size)/-3)
}

.page>.close>.icon-container[data-v-623fafaf] {
    height: var(--button-size);
    right: 0;
    width: var(--button-size)
}

.page>.edit-page[data-v-623fafaf] {
    --button-size: 24px;
    left: -8px;
    left: calc(var(--button-size)/-3);
    position: absolute;
    top: -8px;
    top: calc(var(--button-size)/-3)
}

.page>.edit-page>.icon-container[data-v-623fafaf] {
    height: var(--button-size);
    left: 0;
    width: var(--button-size)
}

.page>.error-icon[data-v-623fafaf],.page>.info-icon[data-v-623fafaf] {
    height: 24px;
    left: -4px;
    right: auto;
    width: 24px
}

.page>.error-icon[data-v-623fafaf] .trigger,.page>.info-icon[data-v-623fafaf] .trigger {
    display: flex
}

.page>.error-icon[data-v-623fafaf] {
    background-color: var(--md-danger)
}

.page>.info-icon[data-v-623fafaf] {
    background-color: var(--md-accent-50)
}

.page>.middle[data-v-623fafaf] {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    color: #4d4d4d;
    display: flex;
    height: 2.75rem;
    justify-content: center;
    left: 50%;
    opacity: .8;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 2.75rem
}

.page>.duplicate[data-v-623fafaf] {
    background-color: var(--md-danger);
    border-radius: .75rem;
    bottom: 1.725rem;
    font-size: .825rem;
    left: .25rem;
    padding: .125rem .5rem;
    position: absolute
}

.shade[data-v-7aaf91d6]:before {
    background-color: var(--md-accent-10);
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
    position: fixed;
    z-index: 100
}
